<div *ngIf="user.isAdmin" class="d-inline-block">
    <div class="d-inline-block" *ngIf="!target">
        <button type="button" *ngIf="!iconOnly" type="button" mat-stroked-button color="primary"
            aria-label="Example icon button" class="text-primary" (click)="openDateDialogue()">
            <span>Schedule</span>
            <mat-icon>event</mat-icon>
        </button>

        <button type="button" *ngIf="iconOnly" style="min-width: 10px; width: unset;" mat-icon-button aria-label=""
            class="text-primary" (click)="openDateDialogue()" matTooltip="Not Scheduled" [matTooltipPosition]="'above'"
            [matTooltipClass]="'fs-6'" [matTooltipDisabled]="!iconOnly">
            <mat-icon>event</mat-icon>
        </button>
    </div>

    <div class="d-inline-block border rounded fs-6"
        [ngClass]="[isDateExceeded() ? 'text-danger border-danger' : 'text-success border-success', iconOnly ? 'px-0' : 'px-1']"
        *ngIf="target">
        <span style=" vertical-align: middle;" *ngIf="!iconOnly">{{getDate() | date: 'd/M/yy'}}</span>
        <mat-icon matTooltip="{{getDate() | date: 'd/M/yy'}}" [matTooltipPosition]="'above'" [matTooltipClass]="'fs-6'"
            [matTooltipDisabled]="!iconOnly" [ngClass]="iconOnly ? 'icon-small-mode' : 'icon-margin-left-mode'"
            style="font-size: 1.1em; height: unset; cursor: pointer; width: unset; vertical-align: middle;"
            (click)="openDateDialogue()">edit
        </mat-icon>
    </div>
</div>

<div *ngIf="!user.isAdmin" class="d-inline-block">
    <div class="d-inline-block border rounded fs-6 animate__animated animate__flash"
        [ngClass]="[isDateExceeded() ? 'text-danger border-danger  animate__infinite animate__slower' : 'text-success border-success', iconOnly ? 'px-0' : 'px-1']"
        *ngIf="target">
        <span style=" vertical-align: middle;" *ngIf="!iconOnly">{{getDate() | date: 'd/M/yy'}}</span>
        <mat-icon matTooltip="{{getDate() | date: 'd/M/yy'}}" [matTooltipPosition]="'above'" [matTooltipClass]="'fs-6'"
            [matTooltipDisabled]="!iconOnly" [ngClass]="iconOnly ? 'icon-small-mode' : 'icon-margin-left-mode'"
            style="font-size: 1.05em; height: unset; cursor: pointer; width: unset; vertical-align: middle;">
            schedule
        </mat-icon>
    </div>
    <!-- <div class="d-inline-block border rounded fs-6 text-primary border-primary" *ngIf="!target" [ngClass]="iconOnly ? 'px-0' : 'px-1'">
        <span style=" vertical-align: middle;" *ngIf="!iconOnly && !target" class="p-1 text-primary"
            style="height: unset; width: unset; vertical-align: middle; font-size: 0.9rem;">Not Scheduled</span>
        <mat-icon matTooltip="Not Scheduled" [matTooltipPosition]="'above'" [matTooltipClass]="'fs-6'"
            [matTooltipDisabled]="!iconOnly" [ngClass]="iconOnly ? 'icon-small-mode' : 'icon-margin-left-mode'"
            style="font-size: 1.05em; height: unset; width: unset; vertical-align: middle;">
            event_busy
        </mat-icon>
    </div> -->
</div>