<div *ngIf="printMode" class="col-12 text-start pagebreak">
    <strong class="h2 text-center mb-0 d-block">{{data.getLongName(currentName)}}</strong>
    <div>
        <table class="table table-striped fs-4 caption-top">
            <caption>Inter Department Meetings</caption>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Place</th>
                    <th scope="col">Completed Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of applicationForm.value?.idms; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{row.place}}</td>
                    <td>{{row.date}}</td>
                </tr>
            </tbody>
            <!-- <tfoot>
                <th scope="row">Total</th>
                <td>{{totalValues.proposedSite}}</td>
                <td>{{totalValues.proposedArea}}</td>
                <td>{{totalValues.completedArea}}</td>
            </tfoot> -->
        </table>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <p class="h4 text-center">
                <strong>Completed Date:</strong> {{applicationForm.value?.completedDate | date: 'd/M/y'}}
            </p>
        </div>
    </div>
</div>

<div *ngIf="!printMode">
    <div class="col-12 col-md-12 mx-auto" *ngIf="formdata.name">
        <app-breadcrump [admin]="isAdmin" [name]="formdata.name"></app-breadcrump>
    </div>
    <mat-card class="bg-blue-custom">
        <p class="h2">Assisting nodal agency/GP/GPWSC</p>
        <p>
            Support and facilitate inspection, field visits, liaison, communication etc, Assist GP/IA in addressing
            social issues during agreed contract period.
        </p>
    </mat-card>
    <div class="alert alert-danger mt-3 fw-bold" role="alert" *ngIf="isFormDisabled">
        Editing has been disabled by admin. Contact them if you need editing  permission
    </div>
    <div class="alert alert-warning mt-3 fw-bold" role="alert" *ngIf="isDraftMode">
        Application was not submitted. Currently in edit mode. Saved as Draft
    </div>
    <form [formGroup]="applicationForm" class="pt-3" id="applicationForm">
        <div class="row">                    
            <div class="col-12">
                <p class="h4 text-start pt-3">
                    Prepare the list of assets of existing water supply schemes (intra GP) and Common Water sources.
                    <app-schedule-menu [section]="'Prepare the list of assets of existing water supply schemes'"
                        [iconOnly]="false">
                    </app-schedule-menu>
                </p>
            </div>
        </div>
        <div formArrayName="ewsss" *ngFor="let item of this.applicationForm.get('ewsss')['controls']; let i = index;">
            <ng-container [formGroupName]="i">
                <div class="row my-3">
                    <div class="col-md-1">
                        {{i + 1}}
                        <app-schedule-menu [section]="'Prepare the list of assets of existing water supply schemes - ' + (i + 1)"
                        [iconOnly]="true">
                    </app-schedule-menu>
                    </div>
                    <div class="col-md-10"> 
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p>
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Name</mat-label>
                                        <input matInput formControlName="name"
                                            [readonly]="isFormDisabled && i < disabledEwssLength">
                                    </mat-form-field>
                                </p>
                            </div>
                            <div class="col-12 col-md-4">
                                <p>
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Ward</mat-label>
                                        <input matInput formControlName="ward"
                                            [readonly]="isFormDisabled && i < disabledEwssLength">
                                    </mat-form-field>
                                </p>
                            </div>
                            <div class="col-12 col-md-4">
                                <p>
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Total Hss</mat-label>
                                        <input matInput formControlName="totalHss"
                                            [readonly]="isFormDisabled && i < disabledEwssLength">
                                    </mat-form-field>
                                </p>
                            </div>
                            <div class="col-12 col-md-3">
                                <p>
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Tank Capacity</mat-label>
                                        <input matInput formControlName="tankCapacity"
                                            [readonly]="isFormDisabled && i < disabledEwssLength">
                                    </mat-form-field>
                                </p>
                            </div>
                            <div class="col-12 col-md-3">
                                <p>
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Type of Source</mat-label>
                                        <input matInput formControlName="typeOfSource"
                                            [readonly]="isFormDisabled && i < disabledEwssLength">
                                    </mat-form-field>
                                </p>
                            </div>
                            <div class="col-12 col-md-3">
                                <p>
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Any Issues</mat-label>
                                        <input matInput formControlName="issue"
                                            [readonly]="isFormDisabled && i < disabledEwssLength">
                                    </mat-form-field>
                                </p>
                            </div>
                            <div class="col-md-3">
                                <app-file-uploader [control]="applicationForm.get('ewsss')['controls'][i]" #uploader
                                    [labelName]="'Copy of Asset Register'" [disabled]="isFormDisabled && i < disabledEwssLength"
                                    [keyName]="'copyAssetRegister'" (onfileChanges)="onFileChanges()">
                                </app-file-uploader>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-1 text-center">
                        <button [disabled]="isFormDisabled && i < disabledEwssLength"
                            [hidden]="isFormDisabled && i < disabledEwssLength" mat-icon-button color="accent" type="button"
                            aria-label="Example icon button with a menu icon" style="margin-top: 10px"
                            (click)="removeEwss(i)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="row">
            <div class="col-md-3 offset-md-9 col-6 offset-6 text-end mt-2">
                <button mat-stroked-button color="primary" class="py-1 w-100" type="button" (click)="addEwss()">
                    <i class="bi bi-plus" style="font-size: 1.5em;"></i> Add Row
                </button>
            </div>
        </div>
        <hr>
        <div class="row">                    
            <div class="col-12">
                <p class="h4 text-start pt-3">
                    To help the GP to include the assets of new water supply schemes in the GP register. 
                    <app-schedule-menu [section]="'To help the GP to include the assets of new water supply schemes'"
                        [iconOnly]="false">
                    </app-schedule-menu>
                </p>
            </div>
        </div>
        <div formArrayName="nwsss" *ngFor="let item of this.applicationForm.get('nwsss')['controls']; let i = index;">
            <ng-container [formGroupName]="i">
                <div class="row my-3">
                    <div class="col-md-1">
                        {{i + 1}}
                        <app-schedule-menu [section]="'To help the GP to include the assets of new water supply schemes - ' + (i + 1)"
                        [iconOnly]="true">
                    </app-schedule-menu>
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p>
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Name</mat-label>
                                        <input matInput formControlName="name"
                                            [readonly]="isFormDisabled && i < disabledNwssLength">
                                    </mat-form-field>
                                </p>
                            </div>
                            <div class="col-12 col-md-4">
                                <p>
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Ward</mat-label>
                                        <input matInput formControlName="ward"
                                            [readonly]="isFormDisabled && i < disabledNwssLength">
                                    </mat-form-field>
                                </p>
                            </div>
                            <div class="col-12 col-md-4">
                                <p>
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Total Hss</mat-label>
                                        <input matInput formControlName="totalHss"
                                            [readonly]="isFormDisabled && i < disabledNwssLength">
                                    </mat-form-field>
                                </p>
                            </div>
                            <div class="col-12 col-md-3">
                                <p>
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Tank Capacity</mat-label>
                                        <input matInput formControlName="tankCapacity"
                                            [readonly]="isFormDisabled && i < disabledNwssLength">
                                    </mat-form-field>
                                </p>
                            </div>
                            <div class="col-12 col-md-3">
                                <p>
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Type of Source</mat-label>
                                        <input matInput formControlName="typeOfSource"
                                            [readonly]="isFormDisabled && i < disabledNwssLength">
                                    </mat-form-field>
                                </p>
                            </div>
                            <div class="col-12 col-md-3">
                                <p>
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Any Issues</mat-label>
                                        <input matInput formControlName="issue"
                                            [readonly]="isFormDisabled && i < disabledNwssLength">
                                    </mat-form-field>
                                </p>
                            </div>
                            <div class="col-md-3">
                                <app-file-uploader [control]="applicationForm.get('nwsss')['controls'][i]" #uploader
                                    [labelName]="'Copy of Asset Register'" [disabled]="isFormDisabled && i < disabledNwssLength"
                                    [keyName]="'copyAssetRegister'" (onfileChanges)="onFileChanges()">
                                </app-file-uploader>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-1 text-center">
                        <button [disabled]="isFormDisabled && i < disabledNwssLength"
                            [hidden]="isFormDisabled && i < disabledNwssLength" mat-icon-button color="accent" type="button"
                            aria-label="Example icon button with a menu icon" style="margin-top: 10px"
                            (click)="removeNwss(i)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="row">
            <div class="col-md-3 offset-md-9 col-6 offset-6 text-end mt-2">
                <button mat-stroked-button color="primary" class="py-1 w-100" type="button" (click)="addNwss()">
                    <i class="bi bi-plus" style="font-size: 1.5em;"></i> Add Row
                </button>
            </div>
        </div>
        <hr>
        <div class="row">                    
            <div class="col-12">
                <p class="h4 text-start pt-3">
                    Identification of O&M model and Stakeholders consultations on various O&M Models 
                    <app-schedule-menu [section]="'Identification of O&M model and Stakeholders consultations on various O&M Models'"
                        [iconOnly]="false">
                    </app-schedule-menu>
                </p>
            </div>
        </div>
        <div formArrayName="iomms" *ngFor="let item of this.applicationForm.get('iomms')['controls']; let i = index;">
            <ng-container [formGroupName]="i">
                <div class="row my-3">
                    <div class="col-md-1">
                        {{i + 1}}
                        <app-schedule-menu [section]="'Identification of O&M model and Stakeholders consultations on various O&M Models - ' + (i + 1)"
                        [iconOnly]="true">
                    </app-schedule-menu>
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <app-file-uploader [control]="applicationForm.get('iomms')['controls'][i]" #uploader
                                    [labelName]="'Report'" [disabled]="isFormDisabled && i < disabledIommLength"
                                    [keyName]="'report'" (onfileChanges)="onFileChanges()">
                                </app-file-uploader>
                            </div>
                            <div class="col-12 col-md-6">
                                <app-file-uploader [control]="applicationForm.get('iomms')['controls'][i]" #uploader
                                    [labelName]="'Copy of O & M Model'" [disabled]="isFormDisabled && i < disabledIommLength"
                                    [keyName]="'copyOMModel'" (onfileChanges)="onFileChanges()">
                                </app-file-uploader>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-1 text-center">
                        <button [disabled]="isFormDisabled && i < disabledIommLength"
                            [hidden]="isFormDisabled && i < disabledIommLength" mat-icon-button color="accent" type="button"
                            aria-label="Example icon button with a menu icon" style="margin-top: 10px"
                            (click)="removeIomm(i)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="row">
            <div class="col-md-3 offset-md-9 col-6 offset-6 text-end mt-2">
                <button mat-stroked-button color="primary" class="py-1 w-100" type="button" (click)="addIomm()">
                    <i class="bi bi-plus" style="font-size: 1.5em;"></i> Add Row
                </button>
            </div>
        </div>
        <hr>
        <div class="row">                    
            <div class="col-12">
                <p class="h4 text-start pt-3">
                    Institutional arrangements for O&M.
                    <app-schedule-menu [section]="'Institutional arrangements for O&M '"
                        [iconOnly]="false">
                    </app-schedule-menu>
                </p>
            </div>
        </div>
        <div formArrayName="iaoms" *ngFor="let item of this.applicationForm.get('iaoms')['controls']; let i = index;">
            <ng-container [formGroupName]="i">
                <div class="row my-3">
                    <div class="col-md-1">
                        {{i + 1}}
                        <app-schedule-menu [section]="'Institutional arrangements for O&M  - ' + (i + 1)"
                        [iconOnly]="true">
                    </app-schedule-menu>
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-12 col-md-12">
                                <app-file-uploader [control]="applicationForm.get('iaoms')['controls'][i]" #uploader
                                    [labelName]="'Report'" [disabled]="isFormDisabled && i < disabledIaomLength"
                                    [keyName]="'report'" (onfileChanges)="onFileChanges()">
                                </app-file-uploader>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-1 text-center">
                        <button [disabled]="isFormDisabled && i < disabledIaomLength"
                            [hidden]="isFormDisabled && i < disabledIaomLength" mat-icon-button color="accent" type="button"
                            aria-label="Example icon button with a menu icon" style="margin-top: 10px"
                            (click)="removeIaom(i)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="row">
            <div class="col-md-3 offset-md-9 col-6 offset-6 text-end mt-2">
                <button mat-stroked-button color="primary" class="py-1 w-100" type="button" (click)="addIaom()">
                    <i class="bi bi-plus" style="font-size: 1.5em;"></i> Add Row
                </button>
            </div>
        </div>
        <hr>
        <div class="row">                    
            <div class="col-12">
                <p class="h4 text-start pt-3">
                    Facilitation of O & M agreements.
                    <app-schedule-menu [section]="'Facilitation of O & M agreements '"
                        [iconOnly]="false">
                    </app-schedule-menu>
                </p>
            </div>
        </div>
        <div formArrayName="fomas" *ngFor="let item of this.applicationForm.get('fomas')['controls']; let i = index;">
            <ng-container [formGroupName]="i">
                <div class="row my-3">
                    <div class="col-md-1">
                        {{i + 1}}
                        <app-schedule-menu [section]="'Facilitation of O & M agreements  - ' + (i + 1)"
                        [iconOnly]="true">
                    </app-schedule-menu>
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <app-file-uploader [control]="applicationForm.get('fomas')['controls'][i]" #uploader
                                    [labelName]="'O & Bylaw'" [disabled]="isFormDisabled && i < disabledFoamLength"
                                    [keyName]="'oByLaw'" (onfileChanges)="onFileChanges()">
                                </app-file-uploader>
                            </div>
                            <div class="col-12 col-md-6">
                                <app-file-uploader [control]="applicationForm.get('fomas')['controls'][i]" #uploader
                                    [labelName]="'Agreement'" [disabled]="isFormDisabled && i < disabledFoamLength"
                                    [keyName]="'agreement'" (onfileChanges)="onFileChanges()">
                                </app-file-uploader>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-1 text-center">
                        <button [disabled]="isFormDisabled && i < disabledFoamLength"
                            [hidden]="isFormDisabled && i < disabledFoamLength" mat-icon-button color="accent" type="button"
                            aria-label="Example icon button with a menu icon" style="margin-top: 10px"
                            (click)="removeFoma(i)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="row">
            <div class="col-md-3 offset-md-9 col-6 offset-6 text-end mt-2">
                <button mat-stroked-button color="primary" class="py-1 w-100" type="button" (click)="addFoma()">
                    <i class="bi bi-plus" style="font-size: 1.5em;"></i> Add Row
                </button>
            </div>
        </div>
        <hr>
        <div class="row">                    
            <div class="col-12">
                <p class="h4 text-start pt-3">
                    Documentation and archiving project details, success stories, Beneficiary details etc. in soft and hard copies , uploading in a JJM site or as per the instruction by IA/ DWSM/ GPWSC.
                    <app-schedule-menu [section]="'Documentation and archiving project details, success stories, Beneficiary details etc.'"
                        [iconOnly]="false">
                    </app-schedule-menu>
                </p>
            </div>
        </div>
        <div formArrayName="dapds" *ngFor="let item of this.applicationForm.get('dapds')['controls']; let i = index;">
            <ng-container [formGroupName]="i">
                <div class="row my-3">
                    <div class="col-md-1">
                        {{i + 1}}
                        <app-schedule-menu [section]="'Documentation and archiving project details, success stories, Beneficiary details etc. - ' + (i + 1)"
                        [iconOnly]="true">
                    </app-schedule-menu>
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <app-file-uploader [control]="applicationForm.get('dapds')['controls'][i]" #uploader
                                    [labelName]="'Report'" [disabled]="isFormDisabled && i < disabledDapdLength"
                                    [keyName]="'report'" (onfileChanges)="onFileChanges()">
                                </app-file-uploader>
                            </div>
                            <div class="col-12 col-md-6">
                                <app-file-uploader [control]="applicationForm.get('dapds')['controls'][i]" #uploader
                                    [labelName]="'Success Stories'" [disabled]="isFormDisabled && i < disabledDapdLength"
                                    [keyName]="'successStories'" (onfileChanges)="onFileChanges()">
                                </app-file-uploader>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <app-file-uploader [control]="applicationForm.get('dapds')['controls'][i]" #uploader
                                    [labelName]="'Photos'" [disabled]="isFormDisabled && i < disabledDapdLength"
                                    [keyName]="'photos'" (onfileChanges)="onFileChanges()">
                                </app-file-uploader>
                            </div>
                            <div class="col-12 col-md-6">
                                <app-file-uploader [control]="applicationForm.get('dapds')['controls'][i]" #uploader
                                    [labelName]="'Videos'" [disabled]="isFormDisabled && i < disabledDapdLength"
                                    [keyName]="'videos'" (onfileChanges)="onFileChanges()">
                                </app-file-uploader>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-1 text-center">
                        <button [disabled]="isFormDisabled && i < disabledDapdLength"
                            [hidden]="isFormDisabled && i < disabledDapdLength" mat-icon-button color="accent" type="button"
                            aria-label="Example icon button with a menu icon" style="margin-top: 10px"
                            (click)="removeDapd(i)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="row">
            <div class="col-md-3 offset-md-9 col-6 offset-6 text-end mt-2">
                <button mat-stroked-button color="primary" class="py-1 w-100" type="button" (click)="addDapd()">
                    <i class="bi bi-plus" style="font-size: 1.5em;"></i> Add Row
                </button>
            </div>
        </div>
        <hr>
        <div class="row">                    
            <div class="col-12">
                <p class="h4 text-start pt-3">
                    To provide any other services instructed by GP/ IA within the provisions of JJM guidelines.
                    <app-schedule-menu [section]="'To provide any other services instructed by GP/ IA'"
                        [iconOnly]="false">
                    </app-schedule-menu>
                </p>
            </div>
        </div>
        <div formArrayName="sigpias" *ngFor="let item of this.applicationForm.get('sigpias')['controls']; let i = index;">
            <ng-container [formGroupName]="i">
                <div class="row my-3">
                    <div class="col-md-1">
                        {{i + 1}}
                        <app-schedule-menu [section]="'To provide any other services instructed by GP/ IA - ' + (i + 1)"
                        [iconOnly]="true">
                    </app-schedule-menu>
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <app-file-uploader [control]="applicationForm.get('sigpias')['controls'][i]" #uploader
                                    [labelName]="'Report'" [disabled]="isFormDisabled && i < disabledSigpiasLength"
                                    [keyName]="'report'" (onfileChanges)="onFileChanges()">
                                </app-file-uploader>
                            </div>
                            <div class="col-12 col-md-4">
                                <app-file-uploader [control]="applicationForm.get('sigpias')['controls'][i]" #uploader
                                    [labelName]="'Photos'" [disabled]="isFormDisabled && i < disabledSigpiasLength"
                                    [keyName]="'photos'" (onfileChanges)="onFileChanges()">
                                </app-file-uploader>
                            </div>
                            <div class="col-12 col-md-4">
                                <app-file-uploader [control]="applicationForm.get('sigpias')['controls'][i]" #uploader
                                    [labelName]="'Videos'" [disabled]="isFormDisabled && i < disabledSigpiasLength"
                                    [keyName]="'videos'" (onfileChanges)="onFileChanges()">
                                </app-file-uploader>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-1 text-center">
                        <button [disabled]="isFormDisabled && i < disabledSigpiasLength"
                            [hidden]="isFormDisabled && i < disabledSigpiasLength" mat-icon-button color="accent" type="button"
                            aria-label="Example icon button with a menu icon" style="margin-top: 10px"
                            (click)="removeSigpia(i)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="row">
            <div class="col-md-3 offset-md-9 col-6 offset-6 text-end mt-2">
                <button mat-stroked-button color="primary" class="py-1 w-100" type="button" (click)="addSigpia()">
                    <i class="bi bi-plus" style="font-size: 1.5em;"></i> Add Row
                </button>
            </div>
        </div>
        <hr>
        <div class="row mt-3">
            <div class="col-md-5 col-12 offset-md-1">
                <p>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Completed Date</mat-label>
                        <input matInput [matDatepicker]="dp1" formControlName="completedDate"
                            [disabled]="isFormDisabled && applicationForm.value?.completedDate?.length">
                        <mat-datepicker-toggle matSuffix [for]="dp1"
                            [disabled]="isFormDisabled && applicationForm.value?.completedDate?.length">
                        </mat-datepicker-toggle>
                        <mat-datepicker #dp1 disabled="false"
                            [disabled]="isFormDisabled && applicationForm.value?.completedDate?.length">
                        </mat-datepicker>
                    </mat-form-field>
                </p>
            </div>            
            <div class="col-md-5">
                <app-file-uploader [control]="applicationForm" #uploader
                    [labelName]="'Report'" [disabled]="isFormDisabled && applicationForm.value?.report?.length"
                    [keyName]="'report'" (onfileChanges)="onFileChanges()">
                </app-file-uploader>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12" *ngIf="submitting">
                <p class="small text-center">
                    Submiting Application. Please Wait...
                </p>
                <mat-progress-bar mode="indeterminate" clas="w-100"></mat-progress-bar>
            </div>
            <div class="col-12 text-center mt-3">
                <button [disabled]="submitting" type="submit" mat-raised-button color="primary" class="px-5 py-1"
                    (click)="onSubmit()">
                    Submit
                    Application
                    <mat-icon>upload_file</mat-icon>
                </button>
            </div>
        </div>
        <div class="col-6 mt-4 mx-auto" *ngIf="submitted">
            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                </symbol>
            </svg>
            <div class="alert alert-success d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                    <use xlink:href="#check-circle-fill" />
                </svg>
                <div>
                    Application Submitted Successfully
                </div>
            </div>
        </div>
    </form>
</div>

<p-confirmDialog header="Submit Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>