<p-fileUpload name="myfile[]" [url]="rest.applUrl + '/upload'" [multiple]="true" [auto]="false" [mode]="'basic'"
    [style]="chooserStyles" [chooseLabel]="labelToShow" [withCredentials]="true" (onSelect)="fileSelected($event)"
    *ngIf="!fileinfo" [disabled]="isDisabled">
</p-fileUpload>
<div *ngIf="fileinfo" class="d-flex justify-content-between border px-2 rounded"
    style="cursor: pointer; margin-bottom: -5px;margin-top: 4px;" [matMenuTriggerFor]="menu">
    <p class="text-truncate pt-3" [ngClass]="uploadComplete ? 'text-success' : ''">
        <strong>{{labelToShow}}: </strong><span [innerHtml]="fileinfo"></span>
    </p>
    <button type="button" *ngIf="!isDisabled" mat-icon-button color="accent" aria-label="Example icon button with a menu icon"
        style="margin-top: 4.5px;" (click)="fileRemoved($event);" [disabled]="isDisabled">
        <i class="pi pi-spin pi-spinner" *ngIf="fileProgress" style="color: black"></i>
        <mat-icon>close</mat-icon>
    </button>
</div>
<mat-progress-bar mode="determinate" *ngIf="fileinfo && !fileDetails?.length" [value]="fileProgress" [style]="{'border-radius': '10px'}">
</mat-progress-bar>

<mat-menu #menu="matMenu" [xPosition]="'after'">
    <button mat-menu-item *ngIf="!fileDetails?.length">
        <mat-icon>schedule</mat-icon>
        Uploading file(s)... Please wait
    </button>
    <ng-container *ngIf="fileDetails">
        <button mat-menu-item *ngFor="let file of fileDetails" (click)="viewFile(file)">
            <mat-icon>download</mat-icon>
            {{file.name}}
        </button>
    </ng-container>
</mat-menu>