<div class="col-12 col-md-12 mx-auto" *ngIf="formdata.name">
    <p-breadcrumb [model]="[
        {label: isAdmin ? 'Admin' : 'Client'},
        {label: data.selectedDetails?.district},
        {label: data.selectedDetails?.gp},
        {label: data.selectedDetails?.phase},
        {label: data.getLongName(formdata.name)}
        ]">
    </p-breadcrumb>
</div>
<div class="col-12" *ngIf="isAdmin">
    <div class="row mt-4">
        <mat-accordion>
            <mat-expansion-panel *ngFor="let appl of submittedApplcations">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <strong>Submitted on:</strong>&nbsp;{{appl.datetime | date: "MMM d, y, h:mm:ss a"}}
                    </mat-panel-title>
                    <mat-panel-description>
                        {{hasAttatchment(appl.files) ? 'Has Attatchements' : 'Has no attatchements'}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>
                    <div class="row">
                        <div class="col-1">
                            <p class="h5">No.</p>
                        </div>
                        <div class="col-2">
                            <p class="h5">IEC Activities</p>
                        </div>
                        <div class="col-2">
                            <p class="h5">
                                Estimated Amount
                            </p>
                        </div>
                        <div class="col-2">
                            <p class="h5">
                                Conducting Date
                            </p>
                        </div>
                        <div class="col-2">
                            <p class="h5">
                                Expenditure
                            </p>
                        </div>
                        <div class="col-3">
                            <p class="h5">
                                Report
                            </p>
                        </div>
                    </div>
                    <div class="row" *ngFor="let row of appl.values.meetings; let i=index">
                        <div class="col-1">
                            <p class="h5 text-start">{{i + 1}}</p>
                        </div>
                        <div class="col-2">
                            <p class="text-start">{{row.activity}}</p>
                        </div>
                        <div class="col-2">
                            <p class="text-start">{{row.amount}}</p>
                        </div>
                        <div class="col-2">
                            <p class="text-start">{{row.date | date:
                                'd/M/y'}}</p>
                        </div>
                        <div class="col-2">
                            <p class="text-start">{{row.expenditure}}</p>
                        </div>
                        <div class="col-3 text-start"
                            [innerHtml]="getAttatchemenstIfAny(appl, row.reportIndex, 'Report')">
                        </div>
                    </div>
                </ng-template>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
<div class="col-12" *ngIf="!isAdmin">
    <div class="row mt-4">
        <mat-accordion>
            <mat-expansion-panel [expanded]="showForm" (closed)="showForm = false; onReset()">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <span *ngIf="editingId.length == 0">
                            Submit a new Application
                        </span>
                        <span *ngIf="editingId.length > 0">
                            Edit an Application
                        </span>
                    </mat-panel-title>
                    <!-- <mat-panel-description>
                          This is a summary of the content
                        </mat-panel-description> -->
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>
                    <div class="row">
                        <div class="col-1">
                            <p class="h5">No.</p>
                        </div>
                        <div class="col-2">
                            <p class="h5">IEC Activities</p>
                        </div>
                        <div class="col-2">
                            <p class="h5">
                                Estimated Amount
                            </p>
                        </div>
                        <div class="col-2">
                            <p class="h5">
                                Conducting Date
                            </p>
                        </div>
                        <div class="col-2">
                            <p class="h5">
                                Expenditure
                            </p>
                        </div>
                        <div class="col-3">
                            <p class="h5">
                                Report
                            </p>
                        </div>
                    </div>
                    <form [formGroup]="applicationForm" (ngSubmit)="onSubmit()" class="pt-3">
                        <div formArrayName="meetings"
                            *ngFor="let item of this.applicationForm.get('meetings')['controls']; let i = index;">
                            <ng-container [formGroupName]="i">
                                <div class="row my-3">
                                    <div class="col-12 col-md-1">
                                        <p class="h6 text-start pt-3">
                                            {{i + 1}}
                                        </p>
                                    </div>
                                    <div class="col-12 col-md-2">
                                        <p>
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>Enter IEC Activity</mat-label>
                                                <input formControlName="activity" matInput placeholder="IEC Activity">
                                            </mat-form-field>
                                        </p>
                                    </div>
                                    <div class="col-12 col-md-2">
                                        <p>
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>Enter Estimated Amount</mat-label>
                                                <input formControlName="amount" matInput placeholder="IFSC Code">
                                            </mat-form-field>
                                        </p>
                                    </div>
                                    <div class="col-12 col-md-2">
                                        <p>
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>Select Conducting Date</mat-label>
                                                <input matInput [matDatepicker]="dp3" readonly (click)="dp3.open()"
                                                    formControlName="date">
                                                <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                                                <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                                            </mat-form-field>
                                        </p>
                                    </div>
                                    <div class="col-12 col-md-2">
                                        <p>
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>Enter Expenditure</mat-label>
                                                <input formControlName="expenditure" matInput placeholder="IFSC Code">
                                            </mat-form-field>
                                        </p>
                                    </div>
                                    <div class="col-12 col-md-3">
                                        <div class="mt-1" style="position: relative;">
                                            <div class="hasfile d-flex justify-content-between border px-2 rounded"
                                                *ngIf="this.applicationForm.get('meetings')['controls'][i].value.reportIndex?.length > 0">
                                                <p class="text-truncate pt-3"><strong>Report:
                                                    </strong>{{getFileFromIndex(i).file.name}}
                                                </p>
                                                <button mat-icon-button color="accent"
                                                    aria-label="Example icon button with a menu icon"
                                                    style="margin-top: 4.5px"
                                                    (click)="fileRemoved(i,getFileFromIndex(i).file.fid); this.applicationForm.get('meetings')['controls'][i].value.reportIndex = ''">
                                                    <mat-icon>close</mat-icon>
                                                </button>
                                            </div>
                                            <p-fileUpload
                                                *ngIf="this.applicationForm.get('meetings')['controls'][i].value.reportIndex?.length == 0 || !this.applicationForm.get('meetings')['controls'][i].value.reportIndex"
                                                mode="basic" [customUpload]="true" (onSelect)="fileSelected($event, i)"
                                                [style]="{backgroundColor: 'white',
                                            color: 'grey', border: '1px solid #ced4da', fontWeight: 'unset', fontSize: '0.9em',
                                            borderRadius: '.25rem', width: '100%', paddingTop: '14px', paddingBottom: '14px'}"
                                                [chooseLabel]="'Select Report'"></p-fileUpload>
                                            <!-- <input *ngIf="dsmMeetingFile == null" class="form-control" type="file" id="formFile1"
                                            style="padding: 12px;" (change)="fileSelected($event, 'dsmMeeting')"> -->
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                        <div class="row">
                            <div class="col-md-3 offset-md-9 col-6 offset-6 text-end mt-2">
                                <button mat-stroked-button color="primary" class="py-1 w-100" type="button"
                                    (click)="addMeeting()">
                                    <i class="bi bi-plus" style="font-size: 1.5em;"></i> Add Row
                                </button>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12" *ngIf="submitting">
                                <p class="small text-center">
                                    Uploading files(If any) and submiting Application...
                                </p>
                                <mat-progress-bar mode="indeterminate" clas="w-100"></mat-progress-bar>
                            </div>
                            <div class="col-12 text-center mt-3">
                                <button type="submit" mat-raised-button color="primary" class="px-5 py-1"
                                    [disabled]="submitting">Save
                                    Application</button>
                            </div>
                        </div>
                    </form>
                </ng-template>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="!showForm" (closed)="showForm = true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Applications that are already submitted
                    </mat-panel-title>
                    <!-- <mat-panel-description>
                          Currently I am
                        </mat-panel-description> -->
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>
                    <mat-list>
                        <mat-list-item *ngFor="let appl of submittedApplcations">
                            <p class="border rounded py-2 strong text-start d-flex justify-content-evenly align-items-center"
                                matLine>{{appl.datetime | date: 'MMM d, y, h:mm:ss a'}}
                                <button mat-button color="primary" aria-label="icon" style="margin-top: 4.5px"
                                    (click)="applicSelected(appl)" class="">
                                    View/ Edit
                                </button>
                            </p>
                        </mat-list-item>
                    </mat-list>
                </ng-template>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>