<div class="col-12 col-md-12 mx-auto" *ngIf="formdata.name">
    <app-bread-crumb [admin]="isAdmin" [name]="formdata.name"></app-bread-crumb>
</div>
<div class="row mt-3">
    <div class="col-3">
        <p class="h5 text-start">Cluster Meeting</p>
    </div>
    <div class="col-3" style="margin-left: -15px">
        <p class="h5">Date</p>
    </div>
    <div class="col-2" style="margin-left: -20px">
        <p class="h5">
            Participation Type
        </p>
    </div>
    <div class="col-4">
        <p class="h5">
            Attendances
        </p>
    </div>
    <!-- <div class="col-2">
        <p class="h5">
            Attendance Sheet & Report
        </p>
    </div> -->
</div>
<form [formGroup]="applicationForm" (ngSubmit)="onSubmit()" class="pt-3">
    <div class="my-3" formArrayName="wards">
        <div *ngFor="let ward of wards().controls; let i=index">
            <div [formGroupName]="i">
                <div formArrayName="meetings">
                    <div class="row mt-2">
                        <div class="col-2">
                            <p class="h5 text-start pt-3">
                                {{'Ward ' + (i + 1) + ': '}}
                                {{(data.wardCongigData.names.length > 0 &&
                                data.wardCongigData.names.length > i &&
                                data.wardCongigData.names[i] &&
                                data.wardCongigData.names[i].wardNumber === i + 1 &&
                                data.wardCongigData.names[i].wardName) || ' '}}
                                <app-schedule-menu [section]="'Cluster Meeting Ward ' + (i + 1)" [iconOnly]="true">
                                </app-schedule-menu>
                            </p>
                        </div>
                        <div class="col-10">
                            <div *ngFor="let meeting of wardMeetings(i).controls; let j=index">
                                <div [formGroupName]=j class="row">
                                    <div class="col-12 col-md-2">
                                        <p class="h6 text-start pt-3">
                                            {{'Meeting ' + (j + 1)}}
                                            <app-schedule-menu
                                                [section]="'Cluster Meeting Ward ' + (i + 1) + ' - Meeting ' + (j + 1)"
                                                [iconOnly]="true">
                                            </app-schedule-menu>
                                        </p>
                                    </div>
                                    <div class="col-12 col-md-3">
                                        <p>
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>Conducting Date</mat-label>
                                                <input matInput [matDatepicker]="dp3" formControlName="date">
                                                <mat-datepicker-toggle matSuffix [for]="dp3">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #dp3 disabled="false">
                                                </mat-datepicker>
                                            </mat-form-field>
                                        </p>
                                    </div>
                                    <div class="col-12 col-md-3">
                                        <p>
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>Participation Type</mat-label>
                                                <input formControlName="participationType" matInput
                                                    placeholder="Participation Type">
                                            </mat-form-field>
                                        </p>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="row">
                                            <div class="col-4">
                                                <p>
                                                    <mat-form-field appearance="outline" class="w-100">
                                                        <mat-label>M
                                                        </mat-label>
                                                        <input formControlName="attendanceM" matInput placeholder="M">
                                                    </mat-form-field>
                                                </p>
                                            </div>
                                            <div class="col-4">
                                                <p>
                                                    <mat-form-field appearance="outline" class="w-100">
                                                        <mat-label>F
                                                        </mat-label>
                                                        <input formControlName="attendanceF" matInput placeholder="F">
                                                    </mat-form-field>
                                                </p>
                                            </div>
                                            <div class="col-4">
                                                <p>
                                                    <mat-form-field appearance="outline" class="w-100">
                                                        <mat-label>T
                                                        </mat-label>
                                                        <input formControlName="attendanceT" matInput placeholder="T">
                                                    </mat-form-field>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3 offset-md-2">
                                        <div class="mt-1" style="position: relative;">
                                            <div class="hasfile d-flex justify-content-between border px-2 rounded"
                                                (click)="viewFile(getFileFromIndex(i, j, 0).file)"
                                                style="cursor: pointer;"
                                                *ngIf="getMeeting(i, j).value.reportIndex?.length > 0">
                                                <p class="text-truncate pt-3"><strong>Report:
                                                    </strong>{{getFileFromIndex(i, j, 0).file.name}}
                                                </p>
                                                <button mat-icon-button color="accent"
                                                    aria-label="Example icon button with a menu icon"
                                                    style="margin-top: 4.5px"
                                                    (click)="fileRemoved(i, j,getFileFromIndex(i, j, 0).file.fid, 0); getMeeting(i, j).value.reportIndex = ''">
                                                    <mat-icon>close</mat-icon>
                                                </button>
                                            </div>
                                            <p-fileUpload
                                                *ngIf="getMeeting(i, j).value.reportIndex?.length == 0 || !getMeeting(i, j).value.reportIndex"
                                                mode="basic" [customUpload]="true"
                                                (onSelect)="fileSelected($event, i, j, 0)"
                                                [style]="{backgroundColor: 'unset',
                                                        color: 'grey', border: '1px solid #ced4da', fontWeight: 'unset', fontSize: '0.9em',
                                                        borderRadius: '.25rem', width: '100%', paddingTop: '14px', paddingBottom: '14px'}"
                                                [chooseLabel]="'    Report'"></p-fileUpload>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3">
                                        <div class="mt-1" style="position: relative;">
                                            <div class="hasfile d-flex justify-content-between border px-2 rounded"
                                                (click)="viewFile(getFileFromIndex(i, j, 1).file)"
                                                style="cursor: pointer;"
                                                *ngIf="getMeeting(i, j).value.minutesIndex?.length > 0">
                                                <p class="text-truncate pt-3"><strong>Minutes:
                                                    </strong>{{getFileFromIndex(i, j, 1).file.name}}
                                                </p>
                                                <button mat-icon-button color="accent"
                                                    aria-label="Example icon button with a menu icon"
                                                    style="margin-top: 4.5px"
                                                    (click)="fileRemoved(i, j,getFileFromIndex(i, j, 1).file.fid, 1); getMeeting(i, j).value.minutesIndex = ''">
                                                    <mat-icon>close</mat-icon>
                                                </button>
                                            </div>
                                            <p-fileUpload
                                                *ngIf="getMeeting(i, j).value.minutesIndex?.length == 0 || !getMeeting(i, j).value.minutesIndex"
                                                mode="basic" [customUpload]="true"
                                                (onSelect)="fileSelected($event, i, j, 1)"
                                                [style]="{backgroundColor: 'unset',
                                                        color: 'grey', border: '1px solid #ced4da', fontWeight: 'unset', fontSize: '0.9em',
                                                        borderRadius: '.25rem', width: '100%', paddingTop: '14px', paddingBottom: '14px'}"
                                                [chooseLabel]="'    Minutes'"></p-fileUpload>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                        <div class="col-md-3 offset-md-9 col-6 offset-6 text-end mt-2">
                            <button mat-stroked-button color="primary" class="py-1 w-75" type="button"
                                (click)="addMeeting(i)">
                                <i class="bi bi-plus" style="font-size: 1.5em;"></i> Add
                                Meeting
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>
    <!-- </div> -->
    <!-- <div class="row">
        <div class="col-md-3 offset-md-9 col-6 offset-6 text-end mt-2">
            <button mat-stroked-button color="primary" class="py-1 w-100" type="button" (click)="addWard()">
                <i class="bi bi-plus" style="font-size: 1.5em;"></i> Add Ward
            </button>
        </div>
    </div> -->
    <div class="row mt-2">
        <div class="col-12" *ngIf="submitting">
            <p class="small text-center">
                Uploading files(If any) and submiting Application...
            </p>
            <mat-progress-bar mode="indeterminate" clas="w-100"></mat-progress-bar>
        </div>
        <div class="col-12 text-center mt-3">
            <button type="submit" mat-raised-button color="primary" class="px-5 py-1" [disabled]="submitting">Save
                Application</button>
        </div>
    </div>
    <div class="col-6 mt-4 mx-auto" *ngIf="submitted">
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                <path
                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
            </symbol>
        </svg>
        <div class="alert alert-success d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                <use xlink:href="#check-circle-fill" />
            </svg>
            <div>
                Application Submitted Successfully
            </div>
        </div>
    </div>
</form>