<div class=" animate__animated animate__slideInRight animate__faster">
    <div class="col-12 col-md-6 offset-md-3">
        <p-breadcrumb
            [model]="[{label: isAdmin ? 'Admin' : 'Client'}, {label: data.selectedDetails?.district}, {label: data.selectedDetails?.gp},{label: 'Phase Components'}]">
        </p-breadcrumb>
    </div>
    <div class="col-12 mt-3">
        <p class="h5">Phase and components selection</p>
    </div>
    <div class="col-12 col-md-6" *ngIf="!isSmallScreen">
        <p-tieredMenu [model]="menuItems"></p-tieredMenu>
    </div>
    <div class="col-12" *ngIf="isSmallScreen">
        <p-panelMenu [model]="menuItems" [style]="{'width':'100%'}"></p-panelMenu>
    </div>
</div>