<div [ngClass]="isAdmin ? 'animate__animated animate__slideInRight animate__faster' : 'animate__animated'">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="border rounded my-2 px-3 pt-3 text">
            <nav aria-label="breadcrumb"> 
                <ol class="breadcrumb text-decoration-none">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">{{this.isAdmin ? 'Admin' : 'Client'}}</a></li>
                    <li class="breadcrumb-item" aria-current="page"><a routerLink="[routeUser, 'district']">{{data.selectedDetails?.district}}</a></li>
                    <li class="breadcrumb-item" aria-current="page"><a href="javascript:void(0)" (click)="gotoGP()">{{data.selectedDetails?.gp}}</a></li>
                    <li class="breadcrumb-item" aria-current="page">Phase Components</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="col-12 mt-3"> 
        <p class="h5">Phase and components selection</p>
    </div>
    <div class="col-12 col-md-6" *ngIf="!isSmallScreen">
        <p-tieredMenu [model]="menuItems"></p-tieredMenu>
    </div>
    <div class="col-12" *ngIf="isSmallScreen">
        <p-panelMenu [model]="menuItems" [style]="{'width':'100%'}"></p-panelMenu>
    </div>
</div>