<h1 mat-dialog-title>{{inputData.section}}</h1>
<div mat-dialog-content style="min-width: 400px;">
    <p>Set the target date</p>
    <form [formGroup]="dateForm">
        <div class="row">
            <div class="col-10">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Target Date</mat-label>
                    <input matInput [matDatepicker]="dp1" formControlName="date" (input)="checkDate()">
                    <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                    <mat-datepicker #dp1 disabled="false"></mat-datepicker>
                    <mat-error class="mt-3" *ngIf="invalidDate">The Date entered is invalid</mat-error>
                </mat-form-field>
            </div>
            <div class="col-2">
                <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon"
                    style="margin-top: 10px" (click)="dateForm.patchValue({date: null})">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div> 
    </form>
</div>
<div mat-dialog-actions [align]="'end'">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button cdkFocusInitial color="primary" (click)="saveDate()">
        <i class="pi pi-spin pi-spinner ms-1" *ngIf="showLoader"></i>
        Save
    </button>
</div>