<div class="col-12 col-md-12 mx-auto" *ngIf="formdata.name">
    <app-bread-crumb [admin]="isAdmin" [name]="formdata.name"></app-bread-crumb>
</div>
<form [formGroup]="applicationForm" (ngSubmit)="onSubmit()" class="pt-3">
    <div class="row mt-3">
        <div class="col-12 col-md-4">
            <p class="h5 text-start pt-3">
                Introduction Meeting
            </p>
        </div>
        <div class="col-12 col-md-3">
            <p>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Date</mat-label>
                    <input matInput [matDatepicker]="dp1"
                        formControlName="introductionDate">
                    <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                    <mat-datepicker #dp1 disabled="false"></mat-datepicker>
                </mat-form-field>
            </p>
        </div>
        <div class="col-12 col-md-2">
            <p>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Number</mat-label>
                    <input formControlName="introductionNo" matInput placeholder="Number" type="number">
                </mat-form-field>
            </p>
        </div>
        <div class="col-12 col-md-3">
            <div class="mt-1" style="position: relative;">
                <div class="hasfile d-flex justify-content-between border px-2 rounded" style="cursor: pointer;"
                    (click)="viewFile(getFileFromName('introductionAttatchement').file)"  *ngIf="applicationForm.get('introductionMinutesIndex').value?.length > 0">
                    <p class="text-truncate pt-3"><strong>Minutes Copy:
                        </strong>{{getFileFromName('introductionAttatchement').file.name}}
                    </p>
                    <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon"
                        style="margin-top: 4.5px" (click)="fileRemoved('introductionAttatchement', getFileFromName('introductionAttatchement').file.fid)">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
                <p-fileUpload *ngIf="!applicationForm.get('introductionMinutesIndex').value?.length" mode="basic" [customUpload]="true"
                    (onSelect)="fileSelected($event, 'introductionAttatchement')" [style]="{backgroundColor: 'white',
                    color: 'grey', border: '1px solid #ced4da', fontWeight: 'unset', fontSize: '0.9em',
                    borderRadius: '.25rem', width: '100%', paddingTop: '14px', paddingBottom: '14px'}"
                    [chooseLabel]="'Minutes Copy'"></p-fileUpload>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <p class="h5 text-start pt-3">
                IEC Plan
            </p>
        </div>
        <div class="col-12 col-md-4">
            <p>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>No. of Training</mat-label>
                    <input formControlName="iecPlanNo" matInput placeholder="No. of Training" type="number">
                </mat-form-field>
            </p>
        </div>
        <div class="col-12 col-md-4">
            <p>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Total Amount</mat-label>
                    <input formControlName="iecPlanAmount" matInput placeholder="Total Amount" type="number">
                </mat-form-field>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <p class="h5 text-start pt-3">
                Inter Department Meetings
            </p>
        </div>
        <div class="col-12 col-md-8">            
            <div class="" formArrayName="interDepartmentMeeting" *ngFor="let item of this.applicationForm.get('interDepartmentMeeting')['controls']; let i = index; let l = last">
                <ng-container [formGroupName]="i">
                    <div class="row">
                        <div class="col-12 col-md-1">
                            <p class="h6 text-start pt-3 ">
                                {{i + 1}}
                            </p>
                        </div>
                        <div class="col-12 col-md-10">
                            <div class="row">
                                <div class="col-12 col-md-3">
                                    <p>
                                        <mat-form-field appearance="outline" class="w-100">
                                            <mat-label>Date</mat-label>
                                            <input matInput [matDatepicker]="dp2"
                                                formControlName="interDepartmentDate">
                                            <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                                            <mat-datepicker #dp2 disabled="false"></mat-datepicker>
                                        </mat-form-field>
                                    </p>
                                </div>
                                <div class="col-12 col-md-3">
                                    <p>
                                        <mat-form-field appearance="outline" class="w-100">
                                            <mat-label>Place</mat-label>
                                            <input formControlName="interDepartmentPlace" matInput placeholder="Place" type="text">
                                        </mat-form-field>
                                    </p>
                                </div>
                                <div class="col-12 col-md-3">
                                    <div class="mt-1" style="position: relative;">
                                        <div class="hasfile d-flex justify-content-between border px-2 rounded" style="cursor: pointer;"
                                            (click)="viewFile(getFileFromName('interDepartmentAttatchment').file)"  *ngIf="applicationForm.get('interDepartmentMeeting')['controls'][i].value?.interDepartmentMinutesIndex?.length > 0">
                                            <p class="text-truncate pt-3"><strong>Minutes:
                                                </strong>{{getFileFromName('interDepartmentAttatchment').file.name}}
                                            </p>
                                            <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon"
                                                style="margin-top: 4.5px" (click)="fileRemoved('interDepartmentAttatchment', getFileFromName('interDepartmentAttatchment').file.fid, i)">
                                                <mat-icon>close</mat-icon>
                                            </button>
                                        </div>
                                        <p-fileUpload *ngIf="!applicationForm.get('interDepartmentMeeting')['controls'][i].value?.interDepartmentMinutesIndex?.length" mode="basic" [customUpload]="true"
                                            (onSelect)="fileSelected($event, 'interDepartmentAttatchment', i)" [style]="{backgroundColor: 'white',
                                            color: 'grey', border: '1px solid #ced4da', fontWeight: 'unset', fontSize: '0.9em',
                                            borderRadius: '.25rem', width: '100%', paddingTop: '14px', paddingBottom: '14px'}"
                                            [chooseLabel]="'Minutes'"></p-fileUpload>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3">
                                    <div class="mt-1" style="position: relative;">
                                        <div class="hasfile d-flex justify-content-between border px-2 rounded" style="cursor: pointer;"
                                            (click)="viewFile(getFileFromName('interDepartmentPhoto').file)"  *ngIf="applicationForm.get('interDepartmentMeeting')['controls'][i].value?.interDepartmentPhotoIndex?.length > 0">
                                            <p class="text-truncate pt-3"><strong>Photo:
                                                </strong>{{getFileFromName('interDepartmentPhoto').file.name}}
                                            </p>
                                            <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon"
                                                style="margin-top: 4.5px" (click)="fileRemoved('interDepartmentPhoto', getFileFromName('interDepartmentPhoto').file.fid, i)">
                                                <mat-icon>close</mat-icon>
                                            </button>
                                        </div>
                                        <p-fileUpload *ngIf="!applicationForm.get('interDepartmentMeeting')['controls'][i].value?.interDepartmentPhotoIndex?.length" mode="basic" [customUpload]="true"
                                            (onSelect)="fileSelected($event, 'interDepartmentPhoto', i)" [style]="{backgroundColor: 'white',
                                            color: 'grey', border: '1px solid #ced4da', fontWeight: 'unset', fontSize: '0.9em',
                                            borderRadius: '.25rem', width: '100%', paddingTop: '14px', paddingBottom: '14px'}"
                                            [chooseLabel]="'Photo'"></p-fileUpload>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-1 text-center">
                            <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon"
                                style="margin-top: 10px" (click)="removeInterDepartment(i)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>
                    <!-- <hr *ngIf="!l"> -->
                </ng-container>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 offset-md-9 col-6 offset-6 text-end">
            <button mat-stroked-button color="primary" class="py-1 w-100" type="button" (click)="addInterDepartment()">
                <i class="bi bi-plus" style="font-size: 1.5em;"></i> Add Meeting
            </button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 col-md-4">
            <p class="h5 text-start pt-3">
                GP Board Meeting for 15% Contribution, O&M
            </p>
        </div>
        <div class="col-12 col-md-3">
            <p>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Date</mat-label>
                    <input matInput [matDatepicker]="dp3"
                        formControlName="GpBoardMeetingDate">
                    <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                    <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                </mat-form-field>
            </p>
        </div>
        <div class="col-12 col-md-2">
            <p>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Number</mat-label>
                    <input formControlName="GpBoardMeetingNo" matInput placeholder="Number" type="number">
                </mat-form-field>
            </p>
        </div>
        <div class="col-12 col-md-3">
            <!-- <div class="mt-1" style="position: relative;">
                <div class="hasfile d-flex justify-content-between border px-2 rounded" style="cursor: pointer;"
                    (click)="viewFile(GpBoardMeetingFile)" *ngIf="GpBoardMeetingFile != null">
                    <p class="text-truncate pt-3"><strong>Resolution:
                        </strong>{{GpBoardMeetingFile.name}}
                    </p>
                    <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon"
                        style="margin-top: 4.5px"
                        (click)="fileRemoved(GpBoardMeetingFile.fid); GpBoardMeetingFile = null">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
                <p-fileUpload *ngIf="GpBoardMeetingFile == null" mode="basic" [customUpload]="true"
                    (onSelect)="fileSelected($event, 'gpBoardMeetingAttatchment')" [style]="{backgroundColor: 'white',
                    color: 'grey', border: '1px solid #ced4da', fontWeight: 'unset', fontSize: '0.9em',
                    borderRadius: '.25rem', width: '100%', paddingTop: '14px', paddingBottom: '14px'}"
                    [chooseLabel]="'Resolution'"></p-fileUpload>
            </div> -->
            <div class="mt-1" style="position: relative;">
                <div class="hasfile d-flex justify-content-between border px-2 rounded" style="cursor: pointer;"
                    (click)="viewFile(getFileFromName('gpBoardMeetingAttatchment').file)"  *ngIf="applicationForm.get('GpBoardMeetingResolutionIndex').value?.length > 0">
                    <p class="text-truncate pt-3"><strong>Resolution:
                        </strong>{{getFileFromName('gpBoardMeetingAttatchment').file.name}}
                    </p>
                    <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon"
                        style="margin-top: 4.5px" (click)="fileRemoved('gpBoardMeetingAttatchment', getFileFromName('gpBoardMeetingAttatchment').file.fid)">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
                <p-fileUpload *ngIf="!applicationForm.get('GpBoardMeetingResolutionIndex').value?.length" mode="basic" [customUpload]="true"
                    (onSelect)="fileSelected($event, 'gpBoardMeetingAttatchment')" [style]="{backgroundColor: 'white',
                    color: 'grey', border: '1px solid #ced4da', fontWeight: 'unset', fontSize: '0.9em',
                    borderRadius: '.25rem', width: '100%', paddingTop: '14px', paddingBottom: '14px'}"
                    [chooseLabel]="'Resolution'"></p-fileUpload>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <p class="h5 text-start pt-3">
                Joint Account
            </p>
        </div>
        <div class="col-12 col-md-4">
            <p>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Account No.</mat-label>
                    <input formControlName="JointAccountNo" matInput placeholder="Account No." type="number">
                </mat-form-field>
            </p>
        </div>
        <div class="col-12 col-md-4">
            <p>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Date</mat-label>
                    <input formControlName="jointAccountDate" matInput [matDatepicker]="dp4">
                    <mat-datepicker-toggle matSuffix [for]="dp4"></mat-datepicker-toggle>
                    <mat-datepicker #dp4 disabled="false"></mat-datepicker>
                </mat-form-field>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 offset-md-4">
            <p>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Name of Bank</mat-label>
                    <input formControlName="jointAccountBank" matInput placeholder="Name of Bank">
                </mat-form-field>
            </p>
        </div>
        <div class="col-12 col-md-4">
            <p>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Branch</mat-label>
                    <input formControlName="jointAccountBranch" matInput placeholder="Branch">
                </mat-form-field>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 offset-md-4">
            <p>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>IFSC Code</mat-label>
                    <input formControlName="jointAccointIFSC" matInput placeholder="IFSC Code">
                </mat-form-field>
            </p>
        </div>
        <div class="col-12 col-md-4">
            <!-- <div class="mt-1" style="position: relative;">
                <div class="hasfile d-flex justify-content-between border px-2 rounded" style="cursor: pointer;"
                    (click)="viewFile(jontAccountFile)" *ngIf="jontAccountFile != null">
                    <p class="text-truncate pt-3"><strong>Passbook Copy:
                        </strong>{{jontAccountFile.name}}
                    </p>
                    <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon"
                        style="margin-top: 4.5px" (click)="fileRemoved(jontAccountFile.fid); jontAccountFile = null">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
                <p-fileUpload *ngIf="jontAccountFile == null" mode="basic" [customUpload]="true"
                    (onSelect)="fileSelected($event, 'jointAccountAttatchment')" [style]="{backgroundColor: 'white',
                    color: 'grey', border: '1px solid #ced4da', fontWeight: 'unset', fontSize: '0.9em',
                    borderRadius: '.25rem', width: '100%', paddingTop: '14px', paddingBottom: '14px'}"
                    [chooseLabel]="'Passbook Copy'"></p-fileUpload>
            </div> -->
            <div class="mt-1" style="position: relative;">
                <div class="hasfile d-flex justify-content-between border px-2 rounded" style="cursor: pointer;"
                    (click)="viewFile(getFileFromName('jointAccountAttatchment').file)"  *ngIf="applicationForm.get('jointAccountPassbookIndex').value?.length > 0">
                    <p class="text-truncate pt-3"><strong>Passbook Copy:
                        </strong>{{getFileFromName('jointAccountAttatchment').file.name}}
                    </p>
                    <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon"
                        style="margin-top: 4.5px" (click)="fileRemoved('jointAccountAttatchment', getFileFromName('jointAccountAttatchment').file.fid)">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
                <p-fileUpload *ngIf="!applicationForm.get('jointAccountPassbookIndex').value?.length" mode="basic" [customUpload]="true"
                    (onSelect)="fileSelected($event, 'jointAccountAttatchment')" [style]="{backgroundColor: 'white',
                    color: 'grey', border: '1px solid #ced4da', fontWeight: 'unset', fontSize: '0.9em',
                    borderRadius: '.25rem', width: '100%', paddingTop: '14px', paddingBottom: '14px'}"
                    [chooseLabel]="'Passbook Copy'"></p-fileUpload>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 offset-md-4">
            <p>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Secretary name</mat-label>
                    <input formControlName="jointAccountSecretary" matInput placeholder="Secretary name">
                </mat-form-field>
            </p>
        </div>
        <div class="col-12 col-md-4">
            <p>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>President name</mat-label>
                    <input formControlName="jointAccountPresident" matInput placeholder="President name">
                </mat-form-field>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 offset-md-4">
            <p>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Bank Address</mat-label>
                    <textarea formControlName="jointAccointAddress" matInput placeholder="Bank Address"></textarea>
                </mat-form-field>
            </p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12" *ngIf="submitting">
            <p class="small text-center">
                Uploading files(If any) and submiting Application...
            </p>
            <mat-progress-bar mode="indeterminate" clas="w-100"></mat-progress-bar>
        </div>
        <div class="col-12 text-center mt-3">
            <button mat-raised-button color="primary" class="px-5 py-1" [disabled]="submitting">Save
                Application</button>
        </div>
        <div class="col-6 mt-4 mx-auto" *ngIf="submitted">
            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                </symbol>
            </svg>
            <div class="alert alert-success d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                    <use xlink:href="#check-circle-fill" />
                </svg>
                <div>
                    Application Submitted Successfully
                </div>
            </div>
        </div>
    </div>
</form>