@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');


.home-logo {
    max-height: 25vh;
}

.home-container {
    padding-top: 30px;
    text-align: center;
}

.smi {
    font-family: 'Roboto Slab', serif;
}