<h1 mat-dialog-title>Contact Details</h1>
<div mat-dialog-content style="position: relative;" *ngIf="!printMode">
    <p>Fill your Contact Details</p>
    <form [formGroup]="contactForm">
        <div class="row d-flex align-items-start">
            <div class="col-2 col-md-1 pt-3">
                <p class="h5">
                    ISA:
                </p>
            </div>
            <div class="col-11">
                <div formArrayName="isa"
                    *ngFor="let item of this.contactForm.get('isa')['controls']; let i = index; let f = last">
                    <ng-container [formGroupName]="i">
                        <div class="row">
                            <div class="col-11">
                                <div class="row">
                                    <div class="col-12 col-md-4">
                                        <p>
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>Name</mat-label>
                                                <input formControlName="name" matInput placeholder="Name">
                                            </mat-form-field>
                                        </p>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <p>
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>Position</mat-label>
                                                <input formControlName="position" matInput placeholder="Position">
                                            </mat-form-field>
                                        </p>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <p>
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>Number</mat-label>
                                                <input formControlName="number" matInput placeholder="Number">
                                            </mat-form-field>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1" *ngIf="f">
                                <div class="col-1 pt-2">
                                    <button mat-icon-button aria-label="" (click)="addISA()">
                                        <mat-icon class="text-primary">person_add_alt</mat-icon>
                                    </button>
                                </div>
                            </div>
                            <div class="col-1" *ngIf="!f">
                                <div class="col-1 pt-2">
                                    <button mat-icon-button aria-label="" (click)="removeISA(i)">
                                        <mat-icon class="text-danger">delete</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <hr>
        <div class="row d-flex align-items-start">
            <div class="col-2 col-md-1 pt-3">
                <p class="h5">
                    IA:
                </p>
            </div>
            <div class="col-11">
                <div formArrayName="ia"
                    *ngFor="let item of this.contactForm.get('ia')['controls']; let i = index; let f = last">
                    <ng-container [formGroupName]="i">
                        <div class="row">
                            <div class="col-11">
                                <div class="row">
                                    <div class="col-12 col-md-4">
                                        <p>
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>Name</mat-label>
                                                <input formControlName="name" matInput placeholder="Name">
                                            </mat-form-field>
                                        </p>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <p>
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>Position</mat-label>
                                                <input formControlName="position" matInput placeholder="Position">
                                            </mat-form-field>
                                        </p>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <p>
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>Number</mat-label>
                                                <input formControlName="number" matInput placeholder="Number">
                                            </mat-form-field>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1" *ngIf="f">
                                <div class="col-1 pt-2">
                                    <button mat-icon-button aria-label="" (click)="addIA()">
                                        <mat-icon class="text-primary">person_add_alt</mat-icon>
                                    </button>
                                </div>
                            </div>
                            <div class="col-1" *ngIf="!f">
                                <div class="col-1 pt-2">
                                    <button mat-icon-button aria-label="" (click)="removeIA(i)">
                                        <mat-icon class="text-danger">delete</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <hr>
        <div class="row d-flex align-items-start">
            <div class="col-2 col-md-1 pt-3">
                <p class="h5">
                    GP:
                </p>
            </div>
            <div class="col-11">
                <div formArrayName="gp"
                    *ngFor="let item of this.contactForm.get('gp')['controls']; let i = index; let f = last">
                    <ng-container [formGroupName]="i">
                        <div class="row mt-3">
                            <div class="col-11">
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <p>
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>Name</mat-label>
                                                <input formControlName="name" matInput placeholder="Name">
                                            </mat-form-field>
                                        </p>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <p>
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>Position</mat-label>
                                                <input formControlName="position" matInput placeholder="Position">
                                            </mat-form-field>
                                        </p>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <p>
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>Ward Number</mat-label>
                                                <input formControlName="wardNumber" matInput placeholder="Ward Number">
                                            </mat-form-field>
                                        </p>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <p>
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>Ward Name</mat-label>
                                                <input formControlName="wardName" matInput placeholder="Ward Name">
                                            </mat-form-field>
                                        </p>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <p>
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>Number</mat-label>
                                                <input formControlName="number" matInput placeholder="Number">
                                            </mat-form-field>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1 d-flex align-items-center mb-3" *ngIf="f">
                                <div class="col-1 pt-2">
                                    <button mat-icon-button aria-label="" (click)="addgp()">
                                        <mat-icon class="text-primary">person_add_alt</mat-icon>
                                    </button>
                                </div>
                            </div>
                            <div class="col-1 d-flex align-items-center mb-3" *ngIf="!f">
                                <div class="col-1 pt-2">
                                    <button mat-icon-button aria-label="" (click)="removegp(i)">
                                        <mat-icon class="text-danger">delete</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="default" color="#fff" type="ball-clip-rotate-multiple"
            [fullScreen]="false" [name]="'contact'">
            <p style="color: white" class="mt-5"> Please Wait... </p>
        </ngx-spinner>
    </form>
</div>
<div mat-dialog-content *ngIf="printMode" style="min-width: 500px; position: relative;">
    <div class="d-flex justify-content-center mt-3">
        <!-- <p class="h5">Select District</p> -->
        <p>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Filter</mat-label>
                <mat-select [(ngModel)]="selectedSections" (selectionChange)="onFilter($event)" multiple>
                    <mat-option [value]="comp" *ngFor="let comp of ['ISA', 'IA', 'GP']">{{comp}}</mat-option>
                </mat-select>
            </mat-form-field>
        </p>
        <button mat-stroked-button color="primary" class="mt-1 mb-3 ms-4 px-3"
            (click)="print('body *, body p.h4 {font-size: 1.07em !important}')">
            Print <mat-icon>print</mat-icon></button>
    </div>
    <hr>
    <div id="printContent">
        <div *ngIf="this.selectedSections.includes('ISA')">
            <p class="fs-2 text-start">Contact Details for ISA</p>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Name</th>
                        <th scope="col">Position</th>
                        <th scope="col">Number</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let person of contactForm.value.isa; let i = index;">
                        <th scope="row">{{i + 1}}</th>
                        <td>{{person.name}}</td>
                        <td>{{person.position}}</td>
                        <td>{{person.number}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="this.selectedSections.includes('IA')">
            <p class="fs-2 text-start mt-5">Contact Details for IA</p>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Name</th>
                        <th scope="col">Position</th>
                        <th scope="col">Number</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let person of contactForm.value.ia; let i = index;">
                        <th scope="row">{{i + 1}}</th>
                        <td>{{person.name}}</td>
                        <td>{{person.position}}</td>
                        <td>{{person.number}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="this.selectedSections.includes('GP')">
            <p class="fs-2 text-start mt-5">Contact Details for GP</p>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Name</th>
                        <th scope="col">Position</th>
                        <th scope="col">Ward Number</th>
                        <th scope="col">Ward Name</th>
                        <th scope="col">Number</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let person of contactForm.value.gp; let i = index;">
                        <th scope="row">{{i + 1}}</th>
                        <td>{{person.name}}</td>
                        <td>{{person.position}}</td>
                        <td>{{person.wardNumber}}</td>
                        <td>{{person.wardName}}</td>
                        <td>{{person.number}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="default" color="#fff" type="ball-clip-rotate-multiple"
        [fullScreen]="false" [name]="'contact'">
        <p style="color: white" class="mt-5"> Please Wait... </p>
    </ngx-spinner>
</div>
<div mat-dialog-actions [align]="'end'">
    <button mat-button cdkFocusInitial mat-dialog-close>Cancel</button>
    <button mat-button (click)="togglePrintMode()" color="primary">{{printMode ? 'Edit Details': 'Print
        Preview'}}</button>
    <button mat-button (click)="saveForm()" color="primary">
        <i class="pi pi-spin pi-spinner ms-1" *ngIf="isLoading"></i>
        Save Changes
    </button>
</div>