.navbar-image {
    height       : 35px;
    border-radius: 100%;
}

.nav-link {
    cursor     : pointer;
    user-select: none;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');


.smi {
    font-family: 'Roboto Slab', serif;
}