<div class="col-12 animate__animated animate__slideInRight animate__faster">
    <div class="col-12 col-md-6 offset-md-3">
        <p-breadcrumb [model]="[{label: 'Admin'}, {label: data.selectedDetails?.district}, {label: 'Grama Panchayath'}]"></p-breadcrumb>
    </div>
    <p class="h5 mt-4">Name of Grama Panchayath</p>
    <mat-form-field appearance="outline" class="col-10 col-md-4">
        <mat-label>Grama Panchayath</mat-label>
        <mat-select [(ngModel)]="gPanchayath" (selectionChange)="onSelect()">
            <mat-option [value]="gp" *ngFor="let gp of gramaPanchataths">{{gp}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>