<div class="col-12 col-md-12 mx-auto" *ngIf="formdata.name">
    <p-breadcrumb [model]="[
        {label: isAdmin ? 'Admin' : 'Client'},
        {label: data.selectedDetails?.district},
        {label: data.selectedDetails?.gp},
        {label: data.selectedDetails?.phase},
        {label: data.getLongName(formdata.name)}
        ]">
    </p-breadcrumb>
</div>
<div class="col-12" *ngIf="isAdmin">
    <div class="row mt-4">
        <mat-accordion>
            <mat-expansion-panel *ngFor="let appl of submittedApplcations">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Submitted on: {{appl.datetime | date: 'MMM d, y, h:mm:ss a'}}
                    </mat-panel-title>
                    <mat-panel-description>
                        {{hasAttatchment(appl.files) ? 'Has Attatchements' : 'Has no attatchements'}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-4">
                                <p class="h4">Field Name</p>
                            </div>
                            <div class="col-4">
                                <p class="h4">Date</p>
                            </div>
                            <div class="col-4">
                                <p class="h4">Attatchements</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-4">
                                <p class="h6 text-start">DWS Meeting</p>
                            </div>
                            <div class="col-4">
                                <p class="text-start">{{appl.values.dwsmDate | date: 'd/M/y'}}</p>
                            </div>
                            <div class="col-4" [innerHtml]="getAttatchemenstIfAny(appl, 'dsmMeetingAttatchment')">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-4">
                                <p class="h6 text-start">Agreement</p>
                            </div>
                            <div class="col-4">
                                <p class=" text-start">{{appl.values.agreementDate | date: 'd/M/y'}}</p>
                            </div>
                            <div class="col-4" [innerHtml]="getAttatchemenstIfAny(appl, 'agreementAttatchment')">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-4">
                                <p class="h6 text-start">Office Starting Date</p>
                            </div>
                            <div class="col-4">
                                <p class=" text-start">{{appl.values.agreementDate | date: 'd/M/y'}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4 mb-2 border-bottom">
                    <p class="h3">
                        Staff positioning
                    </p>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-4">
                                <p class="h4">position</p>
                            </div>
                            <div class="col-4">
                                <p class="h4">Name & Address</p>
                            </div>
                            <div class="col-4">
                                <p class="h4">Phone No. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-4">
                                <p class="h6 text-start">Team Leader</p>
                            </div>
                            <div class="col-4">
                                <p class=" text-start" style="white-space: pre-wrap;overflow-wrap: break-word">
                                    {{appl.values.teamLeaderAddress}}</p>
                            </div>
                            <div class="col-4">
                                <p class=" text-start">{{appl.values.teamLeaderNo}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-4">
                                <p class="h6 text-start">Community Engineer</p>
                            </div>
                            <div class="col-4">
                                <p class=" text-start" style="white-space: pre-wrap;overflow-wrap: break-word">
                                    {{appl.values.comminityEngAddress}}</p>
                            </div>
                            <div class="col-4">
                                <p class=" text-start">{{appl.values.comminityEngNo}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-4">
                                <p class="h6 text-start">Community Facilitator</p>
                            </div>
                            <div class="col-4">
                                <p class=" text-start" style="white-space: pre-wrap;overflow-wrap: break-word">
                                    {{appl.values.communityfacilAddress}}</p>
                            </div>
                            <div class="col-4">
                                <p class="text-start">{{appl.values.communityfacilNo}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
<div class="col-12" *ngIf="!isAdmin">
    <div class="row mt-4">
        <mat-accordion>
            <mat-expansion-panel [expanded]="showForm" (closed)="showForm = false; onReset()">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <span *ngIf="editingId.length == 0">
                            Submit a new Application
                        </span>
                        <span *ngIf="editingId.length > 0">
                            Edit an Application
                        </span>
                    </mat-panel-title>
                    <!-- <mat-panel-description>
                  This is a summary of the content
                </mat-panel-description> -->
                </mat-expansion-panel-header>
                <form [formGroup]="applicationForm" (ngSubmit)="onSubmit()" class="pt-3">
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="h5 text-start pt-3">
                                DWSM Meeting
                            </p>
                        </div>
                        <div class="col-12 col-md-4">
                            <p>
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Select a Date</mat-label>
                                    <input matInput [matDatepicker]="dp1" readonly (click)="dp1.open()"
                                        formControlName="dwsmDate">
                                    <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                                    <mat-datepicker #dp1 disabled="false"></mat-datepicker>
                                </mat-form-field>
                            </p>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="mt-1">
                                <div class="hasfile d-flex justify-content-between border px-2 rounded"
                                    *ngIf="dsmMeetingFile != null">
                                    <p class="text-truncate pt-3"><strong>Attatchement: </strong>{{dsmMeetingFile.name}}
                                    </p>
                                    <button mat-icon-button color="accent"
                                        aria-label="Example icon button with a menu icon" style="margin-top: 4.5px"
                                        (click)="fileRemoved(dsmMeetingFile.fid); dsmMeetingFile = null">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </div>
                                <input *ngIf="dsmMeetingFile == null" class="form-control" type="file" id="formFile"
                                    style="padding: 12px;" (change)="fileSelected($event, 'dsmMeeting')">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="h5 text-start pt-3">
                                Agreement
                            </p>
                        </div>
                        <div class="col-12 col-md-4">
                            <p>
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Select a Date</mat-label>
                                    <input formControlName="agreementDate" matInput [matDatepicker]="dp2" readonly
                                        (click)="dp2.open()">
                                    <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                                    <mat-datepicker #dp2 disabled="false"></mat-datepicker>
                                </mat-form-field>
                            </p>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="mt-1">
                                <div class="hasfile d-flex justify-content-between border px-2 rounded"
                                    *ngIf="agreementFile != null">
                                    <p class="text-truncate pt-3"><strong>Attatchement: </strong>{{agreementFile.name}}
                                    </p>
                                    <button mat-icon-button color="accent"
                                        aria-label="Example icon button with a menu icon" style="margin-top: 4.5px;"
                                        (click)="fileRemoved(agreementFile.fid); agreementFile = null">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </div>
                                <input *ngIf="agreementFile == null" class="form-control" type="file" id="formFile"
                                    style="padding: 12px;" (change)="fileSelected($event, 'agreement')">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="h5 text-start pt-3">
                                Office Starting Date
                            </p>
                        </div>
                        <div class="col-12 col-md-4">
                            <p>
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Select a Date</mat-label>
                                    <input formControlName="officeStartingDate" matInput [matDatepicker]="dp3" readonly
                                        (click)="dp3.open()">
                                    <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                                    <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                                </mat-form-field>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="h4">
                                Staff Positioning
                            </p>
                        </div>
                        <div class="col-12 col-md-4">
                            <p class="h5 text-start pt-3">
                                Team Leader
                            </p>
                        </div>
                        <div class="col-12 col-md-4">
                            <p>
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Name & Address</mat-label>
                                    <textarea formControlName="teamLeaderAddress" matInput></textarea>
                                </mat-form-field>
                            </p>
                        </div>
                        <div class="col-12 col-md-4">
                            <p>
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Enter Phone No</mat-label>
                                    <input formControlName="teamLeaderNo" matInput placeholder="Phone Number"
                                        type="number">
                                </mat-form-field>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="h5 text-start pt-3">
                                Comminity Engineer
                            </p>
                        </div>
                        <div class="col-12 col-md-4">
                            <p>
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Name & Address</mat-label>
                                    <textarea formControlName="comminityEngAddress" matInput></textarea>
                                </mat-form-field>
                            </p>
                        </div>
                        <div class="col-12 col-md-4">
                            <p>
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Enter Phone No</mat-label>
                                    <input formControlName="communityEngNo" matInput placeholder="Phone Number"
                                        type="number">
                                </mat-form-field>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="h5 text-start pt-3">
                                Comminity Facilitator
                            </p>
                        </div>
                        <div class="col-12 col-md-4">
                            <p>
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Name & Address</mat-label>
                                    <textarea formControlName="communityfacilAddress" matInput></textarea>
                                </mat-form-field>
                            </p>
                        </div>
                        <div class="col-12 col-md-4">
                            <p>
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Enter Phone No</mat-label>
                                    <input formControlName="communityFacilNo" matInput placeholder="Phone Number"
                                        type="number">
                                </mat-form-field>
                            </p>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12" *ngIf="submitting">
                            <p class="small text-center">
                                Uploading files(If any) and submiting Application...
                            </p>
                            <mat-progress-bar mode="indeterminate" clas="w-100"></mat-progress-bar>
                        </div>
                        <div class="col-12 text-center mt-3">
                            <button mat-raised-button color="primary" class="px-5 py-1" [disabled]="submitting">Save
                                Application</button>
                        </div>
                    </div>
                </form>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="!showForm" (closed)="showForm = true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Applications that are already submitted
                    </mat-panel-title>
                    <!-- <mat-panel-description>
                  Currently I am
                </mat-panel-description> -->
                </mat-expansion-panel-header>
                <mat-list>
                    <mat-list-item *ngFor="let appl of submittedApplcations">
                        <p class="border rounded py-2 strong text-start d-flex justify-content-evenly align-items-center"
                            matLine>{{appl.datetime | date: 'MMM d, y, h:mm:ss a'}}
                            <button mat-button color="primary" aria-label="Example icon button with a menu icon"
                                style="margin-top: 4.5px" (click)="applicSelected(appl)" class="">
                                View/ Edit
                            </button>
                        </p>
                    </mat-list-item>
                </mat-list>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>