<div class="col-12">
    <div class="border rounded my-2 px-3 pt-3 text">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb text-decoration-none">
                <li class="breadcrumb-item text-capitalize"><a href="javascript:void(0)">{{user.currentUser?.username.split('@')[0]}} ({{user.currentUser?.admin ? 'Admin' : 'Client'}})</a></li>
                <li class="breadcrumb-item" aria-current="page">Administration</li>
            </ol>
        </nav>
    </div>
</div>
<div class="col-12">
    <mat-tab-group dynamicHeight>
        <mat-tab label="Enable/Disable">
            <ng-template matTabContent>
                <div class="text-start p-2">
                    <div class="title d-flex justify-content-between p-2">
                        <p class="h5">Enable Edits From</p>
                        <button [disabled]="!this.selectedDistrict" mat-flat-button color="primary" class="px-2 py-1"
                            (click)="onSaveChanges()">Save Changes
                            <mat-icon>save</mat-icon>
                        </button>
                    </div>
                    <div class="d-flex justify-content-center row mb-3">
                        <mat-form-field appearance="outline" class="col-12 col-md-6">
                            <mat-label>Select a district</mat-label>
                            <mat-select [(value)]="selectedDistrict" (selectionChange)="onDistrictSelect()">
                                <mat-option>None</mat-option>
                                <mat-option [value]="item" *ngFor="let item of allDistricts">{{item}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="row my-3">
                        <div class="col-12">
                            <div *ngFor="let gp of this.selectedGps">
                                <ng-container *ngFor="let comp of this.selectedComponents">
                                    <p-chip [label]="gp.value + ' > ' + comp.phase + ' > ' + comp.component"
                                        styleClass="m-1"></p-chip>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center row">
                        <div class="col-6">
                            <p-listbox (onChange)="onChange(true)" scrollHeight="250px" [checkbox]="true"
                                [filter]="true" [multiple]="true" [options]="allGps" [(ngModel)]="selectedGps"
                                [optionLabel]="'value'" [listStyle]="{'max-height':'300px'}"></p-listbox>
                        </div>
                        <div class="col-6">
                            <p-listbox (onChange)="onChange()" scrollHeight="250px" [checkbox]="true" [filter]="true"
                                [multiple]="true" [options]="allComponents" [(ngModel)]="selectedComponents"
                                [optionLabel]="'label'" [listStyle]="{'max-height':'300px'}"></p-listbox>
                        </div>
                    </div>
                </div>
            </ng-template>
        </mat-tab>
        <mat-tab label="Admin Accounts">
            <ng-template matTabContent>
                <div class="text-start p-2">
                    <div class="title d-flex justify-content-between p-2">
                        <p class="h5">Admin Accounts available</p>
                        <button mat-stroked-button (click)="openUserCreate(true)" class="px-3 py-1">
                            <i class="pi pi-plus me-1"></i>
                            Create an Admin
                        </button>
                    </div>
                    <mat-accordion>
                        <mat-expansion-panel *ngFor="let admin of adminUsers; let i = index; let f = first" (opened)="userOpened(admin)">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <strong>Username:&nbsp;</strong>{{admin.username}}
                                </mat-panel-title>
                                <mat-panel-description>
                                    <strong>Password:&nbsp;</strong>Click to see password
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <form [formGroup]="userForm">
                                <div class="row pb-3">
                                    <div class="col-md-4 col-12">
                                        <mat-form-field appearance="outline" class="col-12">
                                            <mat-label>Enter Username</mat-label>
                                            <input matInput placeholder="Username" #username formControlName="username">
                                            <mat-error *ngIf="userForm.controls.username.errors?.required">
                                                Username is required</mat-error>
                                            <mat-error *ngIf="userForm.controls.username.errors?.email">
                                                Invalid Username</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4 col-12">
                                        <mat-form-field appearance="outline" class="col-12">
                                            <mat-label>Enter Password</mat-label>
                                            <input matInput placeholder="Password" #password formControlName="password">
                                            <mat-error *ngIf="userForm.controls.password.errors?.required">
                                                Password is required</mat-error>
                                            <mat-error *ngIf="userForm.controls.password.errors?.minlength">
                                                Password is must be minimum 6 charecters long</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="row">
                                            <div class="col-6 text-center" style="padding-top: 12px;">
                                                <button mat-flat-button color="primary"
                                                    (click)="updateUser(admin._id)">Update User</button>
                                            </div>
                                            <div class="col-6 text-center" style="padding-top: 12px;">
                                                <button mat-flat-button color="warn"
                                                    (click)="confirmDelete($event, admin)" [disabled]="adminUsers.length === 1">Delete Admin</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </ng-template>
        </mat-tab>
        <mat-tab label="Client Accounts">
            <ng-template matTabContent>
                <div class="text-start p-2">
                    <div class="title d-flex justify-content-between p-2">
                        <p class="h5">Client Accounts available</p>
                        <button mat-stroked-button (click)="openUserCreate()" class="px-3 py-1">
                            <i class="pi pi-plus me-1"></i>Create a Client
                        </button>
                    </div>
                    <mat-accordion>
                        <mat-expansion-panel *ngFor="let client of clientUsers" (opened)="userOpened(client)">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <strong>Username:&nbsp;</strong>{{client.username}}
                                </mat-panel-title>
                                <mat-panel-description>
                                    <strong>Panchayath:&nbsp;</strong>
                                    {{client.district}} <i class="pi pi-angle-right"></i> {{client.panchayath}}
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <form [formGroup]="userForm">
                                <div class="row pb-3">
                                    <div class="col-md-4 col-12">
                                        <mat-form-field appearance="outline" class="col-12">
                                            <mat-label>Enter Username</mat-label>
                                            <input matInput placeholder="Username" #username formControlName="username">
                                            <mat-error *ngIf="userForm.controls.username.errors?.required">
                                                Username is required</mat-error>
                                            <mat-error *ngIf="userForm.controls.username.errors?.email">
                                                Invalid Username</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4 col-12">
                                        <mat-form-field appearance="outline" class="col-12">
                                            <mat-label>Enter Password</mat-label>
                                            <input matInput placeholder="Password" #password formControlName="password">
                                            <mat-error *ngIf="userForm.controls.password.errors?.required">
                                                Password is required</mat-error>
                                            <mat-error *ngIf="userForm.controls.password.errors?.minlength">
                                                Password is must be minimum 6 charecters long</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="row">
                                            <div class="col-6 text-center" style="padding-top: 12px;">
                                                <button mat-flat-button color="primary"
                                                    (click)="updateUser(client._id)">Update User</button>
                                            </div>
                                            <div class="col-6 text-center" style="padding-top: 12px;">
                                                <button mat-flat-button color="warn"
                                                    (click)="confirmDelete($event, client)">Delete User</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <p>Delete the user and create again to change District or Panchayath</p>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>

<p-confirmPopup></p-confirmPopup>