<div *ngIf="printMode" class="col-12 text-start pagebreak mt-4">
    <strong class="h2 text-center mb-0 d-block text-decoration-underline">{{data.getLongName(currentName)}}</strong>
    <div>
        <table class="table table-striped fs-4 caption-top">
            <caption>GWR</caption>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Line Department</th>
                    <th scope="col">Proposal</th>
                    <th scope="col">Quality</th>
                    <th scope="col">Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of applicationForm.value?.gwr; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{row.lineDepartment}}</td>
                    <td>{{row.proposal}}</td>
                    <td>{{row.quality}}</td>
                    <td>{{row.amount}}</td>
                </tr>
            </tbody>
            <tfoot>
                <th scope="row">Total</th>
                <td>{{totalValues.proposedSite}}</td>
                <td>{{totalValues.proposedArea}}</td>
                <td>{{totalValues.completedArea}}</td>
            </tfoot>
        </table>
    </div>
    <div>
        <table class="table table-striped fs-4 caption-top">
            <caption>RWH</caption>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Line Department</th>
                    <th scope="col">Proposal</th>
                    <th scope="col">Quality</th>
                    <th scope="col">Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of applicationForm.value?.rwh; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{row.lineDepartment}}</td>
                    <td>{{row.proposal}}</td>
                    <td>{{row.quality}}</td>
                    <td>{{row.amount}}</td>
                </tr>
            </tbody>
            <tfoot>
                <th scope="row">Total</th>
                <td>{{totalValues.proposedSite}}</td>
                <td>{{totalValues.proposedArea}}</td>
                <td>{{totalValues.completedArea}}</td>
            </tfoot>
        </table>
    </div>
    <div>
        <table class="table table-striped fs-4 caption-top">
            <caption>Ground Water Management</caption>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Line Department</th>
                    <th scope="col">Proposal</th>
                    <th scope="col">Quality</th>
                    <th scope="col">Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of applicationForm.value?.gwm; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{row.lineDepartment}}</td>
                    <td>{{row.proposal}}</td>
                    <td>{{row.quality}}</td>
                    <td>{{row.amount}}</td>
                </tr>
            </tbody>
            <!-- <tfoot>
                <th scope="row">Total</th>
                <td>{{totalValues.proposedSite}}</td>
                <td>{{totalValues.proposedArea}}</td>
                <td>{{totalValues.completedArea}}</td>
            </tfoot> -->
        </table>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <p class="h4 text-center">
                <strong>Completed Date:</strong> {{applicationForm.value?.completedDate | date: 'd/M/y'}}
            </p>
        </div>
    </div>
</div>

<div *ngIf="!printMode">
    <div class="col-12 col-md-12 mx-auto" *ngIf="formdata.name">
        <app-breadcrump [admin]="isAdmin" [name]="formdata.name"></app-breadcrump>
    </div>
    <mat-card class="bg-blue-custom">
        <p class="h2">To develop a convergence plan for GWR, RWH and gray water management and its facilitation.</p>
        <p>
            Discussion with GP Board and GPWSC and line departments on various fund availability at GP and assess the
            possibility of convergence of various funds. GWR, RWH and Gray water management proposals, convergence plan
            and facilitation for implementation.
        </p>
    </mat-card>
    <div class="alert alert-danger mt-3 fw-bold" role="alert" *ngIf="isFormDisabled">
        Editing existing data has been disabled by admin. Contact them if you need editing  permission
    </div>
    <div class="alert alert-warning mt-3 fw-bold" role="alert" *ngIf="isDraftMode">
        Application was not submitted. Currently in edit mode. Saved as Draft
    </div>
    <form [formGroup]="applicationForm" class="pt-3" id="applicationForm">
        <div class="row">
            <div class="col-md-1 mt-4 pt-2">
                <p class="h5 text-start">
                    GWR
                    <app-schedule-menu [section]="'GWR'" [iconOnly]="true">
                    </app-schedule-menu>
                </p>
            </div>
            <div class="col-md-11">
                <div formArrayName="gwr"
                    *ngFor="let item of this.applicationForm.get('gwr')['controls']; let i = index;">
                    <ng-container [formGroupName]="i">
                        <div class="row my-3">
                            <div class="col-md-1">
                                <p class="h6 text-start pt-3">
                                    {{i + 1}}
                                    <app-schedule-menu [section]="'GWR - ' + (i + 1)" [iconOnly]="true">
                                    </app-schedule-menu>
                                </p>
                            </div>
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-md-3">
                                        <p>
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>Line Department</mat-label>
                                                <input matInput formControlName="lineDepartment"
                                                    [readonly]="isFormDisabled && i < disabledGwrLength">
                                            </mat-form-field>
                                        </p>
                                    </div>
                                    <div class="col-md-3">
                                        <p>
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>Proposal</mat-label>
                                                <input matInput formControlName="proposal"
                                                    [readonly]="isFormDisabled && i < disabledGwrLength">
                                            </mat-form-field>
                                        </p>
                                    </div>
                                    <div class="col-md-3">
                                        <p>
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>Quality</mat-label>
                                                <input matInput formControlName="quality"
                                                    [readonly]="isFormDisabled && i < disabledGwrLength">
                                            </mat-form-field>
                                        </p>
                                    </div>
                                    <div class="col-md-3">
                                        <p>
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>Amount</mat-label>
                                                <input matInput formControlName="amount" type="number"
                                                    [readonly]="isFormDisabled && i < disabledGwrLength">
                                            </mat-form-field>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-1 text-center">
                                <button [disabled]="isFormDisabled && i < disabledGwrLength"
                                    [hidden]="isFormDisabled && i < disabledGwrLength" mat-icon-button color="accent"
                                    type="button" aria-label="Example icon button with a menu icon"
                                    style="margin-top: 10px" (click)="removeGwr(i)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 offset-md-9 col-6 offset-6 text-end mt-2">
                <button mat-stroked-button color="primary" class="py-1 w-100" type="button" (click)="addGwr()">
                    <i class="bi bi-plus" style="font-size: 1.5em;"></i> Add GWR
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 mt-4 pt-2">
                <p class="h5 text-start">
                    RWH
                    <app-schedule-menu [section]="'RWH'" [iconOnly]="true">
                    </app-schedule-menu>
                </p>
            </div>
            <div class="col-md-11">
                <div formArrayName="rwh"
                    *ngFor="let item of this.applicationForm.get('rwh')['controls']; let i = index;">
                    <ng-container [formGroupName]="i">
                        <div class="row my-3">
                            <div class="col-md-1">
                                <p class="h6 text-start pt-3">
                                    {{i + 1}}
                                    <app-schedule-menu [section]="'RWH - ' + (i + 1)" [iconOnly]="true">
                                    </app-schedule-menu>
                                </p>
                            </div>
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-md-3">
                                        <p>
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>Line Department</mat-label>
                                                <input matInput formControlName="lineDepartment"
                                                    [readonly]="isFormDisabled && i < disabledRwhLength">
                                            </mat-form-field>
                                        </p>
                                    </div>
                                    <div class="col-md-3">
                                        <p>
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>Proposal</mat-label>
                                                <input matInput formControlName="proposal"
                                                    [readonly]="isFormDisabled && i < disabledRwhLength">
                                            </mat-form-field>
                                        </p>
                                    </div>
                                    <div class="col-md-3">
                                        <p>
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>Quality</mat-label>
                                                <input matInput formControlName="quality"
                                                    [readonly]="isFormDisabled && i < disabledRwhLength">
                                            </mat-form-field>
                                        </p>
                                    </div>
                                    <div class="col-md-3">
                                        <p>
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>Amount</mat-label>
                                                <input matInput formControlName="amount" type="number"
                                                    [readonly]="isFormDisabled && i < disabledRwhLength">
                                            </mat-form-field>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-1 text-center">
                                <button [disabled]="isFormDisabled && i < disabledRwhLength"
                                    [hidden]="isFormDisabled && i < disabledRwhLength" mat-icon-button color="accent"
                                    type="button" aria-label="Example icon button with a menu icon"
                                    style="margin-top: 10px" (click)="removeRwh(i)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 offset-md-9 col-6 offset-6 text-end mt-2">
                <button mat-stroked-button color="primary" class="py-1 w-100" type="button" (click)="addRwh()">
                    <i class="bi bi-plus" style="font-size: 1.5em;"></i> Add RWH
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 mt-4 pt-2">
                <p class="h5 text-start">
                    Ground Water Management
                    <app-schedule-menu [section]="'Ground Water Management'" [iconOnly]="true">
                    </app-schedule-menu>
                </p>
            </div>
            <div class="col-md-10">
                <div formArrayName="gwm"
                    *ngFor="let item of this.applicationForm.get('gwm')['controls']; let i = index;">
                    <ng-container [formGroupName]="i">
                        <div class="row my-3">
                            <div class="col-md-1">
                                <p class="h6 text-start pt-3">
                                    {{i + 1}}
                                    <app-schedule-menu [section]="'Ground Water Management - ' + (i + 1)"
                                        [iconOnly]="true">
                                    </app-schedule-menu>
                                </p>
                            </div>
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-md-3">
                                        <p>
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>Line Department</mat-label>
                                                <input matInput formControlName="lineDepartment"
                                                    [readonly]="isFormDisabled && i < disabledGwmLength">
                                            </mat-form-field>
                                        </p>
                                    </div>
                                    <div class="col-md-3">
                                        <p>
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>Proposal</mat-label>
                                                <input matInput formControlName="proposal"
                                                    [readonly]="isFormDisabled && i < disabledGwmLength">
                                            </mat-form-field>
                                        </p>
                                    </div>
                                    <div class="col-md-3">
                                        <p>
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>Quality</mat-label>
                                                <input matInput formControlName="quality"
                                                    [readonly]="isFormDisabled && i < disabledGwmLength">
                                            </mat-form-field>
                                        </p>
                                    </div>
                                    <div class="col-md-3">
                                        <p>
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>Amount</mat-label>
                                                <input matInput formControlName="amount" type="number"
                                                    [readonly]="isFormDisabled && i < disabledGwmLength">
                                            </mat-form-field>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-1 text-center">
                                <button [disabled]="isFormDisabled && i < disabledGwmLength"
                                    [hidden]="isFormDisabled && i < disabledGwmLength" mat-icon-button color="accent"
                                    type="button" aria-label="Example icon button with a menu icon"
                                    style="margin-top: 10px" (click)="removeGwm(i)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-3 offset-md-9 col-6 offset-6 text-end mt-2">
                <button mat-stroked-button color="primary" class="py-1 w-100" type="button" (click)="addGwm()">
                    <i class="bi bi-plus" style="font-size: 1.5em;"></i> Add GWM
                </button>
            </div>
        </div>
        <div formArrayName="rows" *ngFor="let item of this.applicationForm.get('rows')['controls']; let i = index;">
            <ng-container [formGroupName]="i">
                <div class="row my-b">
                    <div class="col-12 col-md-1">
                        <p class="h6 text-center pt-3">
                            <app-schedule-menu [section]="'To develop a convergence plan for GWR...'"
                                [iconOnly]="true">
                            </app-schedule-menu>
                        </p>
                    </div>
                    <div class="col-md-11">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <app-file-uploader [control]="applicationForm.get('rows')['controls'][i]" #uploader
                                    [labelName]="'Convergence and implimentation plan'"
                                    [disabled]="isFormDisabled && i < disabledLength"
                                    [keyName]="'converganceImplementationplan'" (onfileChanges)="onFileChanges()">
                                </app-file-uploader>
                            </div>
                            <div class="col-12 col-md-6">
                                <app-file-uploader [control]="applicationForm.get('rows')['controls'][i]" #uploader
                                    [labelName]="'Completion Report'" [disabled]="isFormDisabled && i < disabledLength"
                                    [keyName]="'completionReport'" (onfileChanges)="onFileChanges()">
                                </app-file-uploader>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-12 col-md-1 text-center">
                        <button [disabled]="isFormDisabled && i < disabledLength"
                            [hidden]="isFormDisabled && i < disabledLength" mat-icon-button color="accent" type="button"
                            aria-label="Example icon button with a menu icon" style="margin-top: 10px"
                            (click)="removeMeeting(i)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div> -->
                </div>
            </ng-container>
        </div>
        <!-- <div class="row">
            <div class="col-md-3 offset-md-9 col-6 offset-6 text-end mt-2">
                <button mat-stroked-button color="primary" class="py-1 w-100" type="button" (click)="addRow()">
                    <i class="bi bi-plus" style="font-size: 1.5em;"></i> Add Row
                </button>
            </div>
        </div> -->
        <!-- <div class="row my-3">
            <div class="col-12 col-md-11 offset-md-1">
                <app-file-uploader [control]="this.applicationForm" #uploader [labelName]="'Report'"
                    [disabled]="isFormDisabled && applicationForm.value?.report?.length" [keyName]="'report'"
                    (onfileChanges)="onFileChanges()">
                </app-file-uploader>
            </div>
        </div> -->
        <div class="row mt-3">
            <div class="col-md-11 col-12 offset-md-1">
                <p>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Completed Date</mat-label>
                        <input matInput [matDatepicker]="dp1" formControlName="completedDate"
                            [disabled]="isFormDisabled && applicationForm.value?.completedDate?.length">
                        <mat-datepicker-toggle matSuffix [for]="dp1"
                            [disabled]="isFormDisabled && applicationForm.value?.completedDate?.length">
                        </mat-datepicker-toggle>
                        <mat-datepicker #dp1 disabled="false"
                            [disabled]="isFormDisabled && applicationForm.value?.completedDate?.length">
                        </mat-datepicker>
                    </mat-form-field>
                </p>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12" *ngIf="submitting">
                <p class="small text-center">
                    Submiting Application. Please Wait...
                </p>
                <mat-progress-bar mode="indeterminate" clas="w-100"></mat-progress-bar>
            </div>
            <div class="col-12 text-center mt-3">
                <button [disabled]="submitting" type="submit" mat-raised-button color="primary" class="px-5 py-1"
                    (click)="onSubmit()">
                    Submit
                    Application
                    <mat-icon>upload_file</mat-icon>
                </button>
            </div>
        </div>
        <div class="col-6 mt-4 mx-auto" *ngIf="submitted">
            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                </symbol>
            </svg>
            <div class="alert alert-success d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                    <use xlink:href="#check-circle-fill" />
                </svg>
                <div>
                    Application Submitted Successfully
                </div>
            </div>
        </div>
    </form>
</div>

<p-confirmDialog header="Submit Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>