/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin                 : 0;
    font-family            : Roboto, "Helvetica Neue", sans-serif;
    --bs-breadcrumb-divider: '>';
}

.p-fileupload,
.hasfile {
    margin-bottom: 1rem;
}

.mat-form-field-wrapper {
    padding-bottom: unset;
}

mat-error,
mat-hint {
    margin-top: 13px;
}

.p-tieredmenu {
    width: 100% !important;
}

.p-menuitem-text {
    text-align: left !important;
}

::-webkit-file-upload-button {
    background-color: white !important;
}

.p-fileupload-buttonbar {
    background-color: rgb(248, 215, 215) !important;
    color           : black !important;
}

.navigator {
    a.p-menuitem-link {
        cursor: pointer !important;
    }

    a.p-menuitem-link:hover {
        cursor         : pointer !important;
        text-decoration: underline;
    }
}

.p-toast-message-content {
    display    : flex;
    align-items: center !important;
}

.p-toast-message-icon {
    display: none !important;
}

.p-toast .p-toast-message .p-toast-message-content {
    padding-left  : 0rem !important;
    padding-right : 0.5rem !important;
    padding-top   : 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

@media screen and (max-width: 600px) {
    .p-toast {
        transform: translateX(14px) !important;
    }
}

.text-area-value {
    white-space: pre-wrap;
}
@media print {
    .pagebreak { page-break-before: always; } /* page-break-after works, as well */
}
.bg-shade {
    background-color: #e4e2e2;
}
.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
    background-color: #ffffff3f;
}