<div class="col-12">
    <div class="border rounded my-2 px-3 pt-3 text">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb text-decoration-none">
                <li class="breadcrumb-item text-capitalize"><a
                        href="javascript:void(0)">{{user.currentUser?.username.split('@')[0]}}
                        ({{user.currentUser?.admin ? 'Admin' : 'Client'}})</a></li>
                <li class="breadcrumb-item" aria-current="page">Claim Details</li>
            </ol>
        </nav>
    </div>
</div>
<div class="col-12">
    <div class="row my-2">
        <div class="col-12 text-end h6">
            <mat-slide-toggle [(ngModel)]="printMode" [labelPosition]="'before'" (change)="modeChange()">Enable Print
                Preview Mode:
            </mat-slide-toggle>
        </div>
    </div>
</div>
<div class="col-12 visually-hidden">
    <div class="row">
        <div class="col-md-6 mt-2">
            <!-- <p class="h5">Select District</p> -->
            <mat-form-field appearance="outline" class="col-12">
                <mat-label>District</mat-label>
                <mat-select [(ngModel)]="selectedDistricts" (selectionChange)="onSelectDistrict()" multiple>
                    <mat-option [value]="dist" *ngFor="let dist of DistrictsList">{{dist}}</mat-option>
                </mat-select>
            </mat-form-field>
            <!-- <p-multiSelect [options]="cities" [(ngModel)]="selectedCities1" defaultLabel="Select a City"
                optionLabel="name" selectedItemsLabel="{0} items selected"></p-multiSelect> -->
        </div>
        <div class="col-md-6 mt-2">
            <!-- <p class="h5">Name of Grama Panchayath</p> -->
            <mat-form-field appearance="outline" class="col-12">
                <mat-label>Grama Panchayath</mat-label>
                <mat-select [(ngModel)]="selectedGps" (selectionChange)="null" multiple>
                    <mat-option [value]="gp" *ngFor="let gp of availableGps">{{gp}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>
<div class="col-12 mt-3">
    <div class="row">
        <p class="h4">Add Claims Details</p>
        <p class="h6"></p>
    </div>
    <div class="row">
        <div class="col-md-6 mt-2">
            <!-- <p class="h5">Select District</p> -->
            <mat-form-field appearance="outline" class="col-12">
                <mat-label>Activities</mat-label>
                <mat-select [(ngModel)]="selectedPhases" [compareWith]="comparePhases"
                    (selectionChange)="onSelectPhase()" multiple>
                    <mat-option [value]="phase" *ngFor="let phase of phaseComponents">{{phase}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-6 mt-2">
            <!-- <p class="h5">Select District</p> -->
            <mat-form-field appearance="outline" class="col-12">
                <mat-label>Sub Activities</mat-label>
                <mat-select [(ngModel)]="selectedComponents" [compareWith]="compareComponents"
                    (selectionChange)="onSelectComponent($event)" multiple>
                    <mat-option [value]="row" *ngFor="let row of availableComponents">{{row.comp}}
                        <b>({{row.phase}})</b>
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>
<hr>
<div class="col-12" *ngIf="!(this.claimDetailsForm.get('rows')['controls']).length">
    <p class="text-center h4">
        No Sub Activities Selected
    </p>
</div>
<div class="col-12">
    <form [formGroup]="claimDetailsForm" class="" id="applicationForm">
        <div formArrayName="rows" *ngFor="let item of this.claimDetailsForm.get('rows')['controls']; let i = index;">
            <ng-container [formGroupName]="i">
                <div class="row mt-3">
                    <div class="col-md-6">
                        <p>
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Activity</mat-label>
                                <input matInput formControlName="phase" readonly>
                            </mat-form-field>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p>
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Sub Activity</mat-label>
                                <input matInput formControlName="component" readonly>
                            </mat-form-field>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p>
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Quantity</mat-label>
                                <input matInput formControlName="quantity">
                            </mat-form-field>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p>
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Type</mat-label>
                                <mat-select formControlName="partFinal">
                                    <mat-option>None</mat-option>
                                    <mat-option value="Part">Part</mat-option>
                                    <mat-option value="Final">Final</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p>
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Amount</mat-label>
                                <input matInput formControlName="amount" type="number">
                            </mat-form-field>
                        </p>
                    </div>
                </div>
            </ng-container>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <p>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Total Amount</mat-label>
                        <input matInput formControlName="totalAmount" type="number" readonly>
                    </mat-form-field>
                </p>
            </div>
            <div class="col-md-4">
                <p>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Submit to GP</mat-label>
                        <input matInput [matDatepicker]="dp1" formControlName="submitGp">
                        <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                        <mat-datepicker #dp1 disabled="false"></mat-datepicker>
                    </mat-form-field>
                </p>
            </div>
            <div class="col-md-4">
                <p>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Submit to DWSM</mat-label>
                        <input matInput [matDatepicker]="dp2" formControlName="submitDwsm">
                        <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                        <mat-datepicker #dp2 disabled="false"></mat-datepicker>
                    </mat-form-field>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <p>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Submit to KRWSA</mat-label>
                        <input matInput [matDatepicker]="dp3" formControlName="submitKrwsa">
                        <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                        <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                    </mat-form-field>
                </p>
            </div>
            <div class="col-md-3">
                <p>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Approved Date</mat-label>
                        <input matInput [matDatepicker]="dp4" formControlName="approvedDate">
                        <mat-datepicker-toggle matSuffix [for]="dp4"></mat-datepicker-toggle>
                        <mat-datepicker #dp4 disabled="false"></mat-datepicker>
                    </mat-form-field>
                </p>
            </div>
            <div class="col-md-3">
                <p>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Approved Amount</mat-label>
                        <input matInput formControlName="approvedAmount" type="number">
                    </mat-form-field>
                </p>
            </div>
            <div class="col-md-3">
                <app-file-uploader [control]="claimDetailsForm" #uploader [labelName]="'Proceedings'"
                    [keyName]="'proceedingsFile'" [disabled]="isDisabled" (onfileChanges)="onFileChanges()">
                </app-file-uploader>
            </div>
        </div>
    </form>
</div>
<div class="col-12">
    <div class="row mt-4">
        <div class="col-12">
            <button mat-flat-button color="primary" class="px-3 py-1" (click)="onSave()">
                Save Changes
                <mat-icon>save</mat-icon>
            </button>
        </div>
    </div>
</div>