<div class="col-12 col-md-12 mx-auto" *ngIf="formdata.name">
    <app-bread-crumb [admin]="isAdmin" [name]="formdata.name"></app-bread-crumb>
</div>
<form [formGroup]="applicationForm" (ngSubmit)="onSubmit()" class="pt-3">
    <div class="row mt-3">
        <div class="col-6">
            <p class="h5 text-start p-0">
                Baseline Details
                <app-schedule-menu [section]="'Baseline Details'" [iconOnly]="false">
                </app-schedule-menu>
            </p>
        </div>
    </div>
    <div formArrayName="baselineSurwey"
        *ngFor="let item of this.applicationForm.get('baselineSurwey')['controls']; let i = index;">
        <ng-container [formGroupName]="i">
            <div class="row my-3">
                <div class="col-12 col-md-2">
                    <p class="h6 text-center pt-3">
                        {{'Ward ' + (i + 1) + ': '}}
                        {{(data.wardCongigData.names.length > 0 &&
                        data.wardCongigData.names.length > i &&
                        data.wardCongigData.names[i] &&
                        data.wardCongigData.names[i].wardNumber === i + 1 &&
                        data.wardCongigData.names[i].wardName) || ' '}}
                        <app-schedule-menu [section]="'Baseline Details Ward ' + (i + 1)" [iconOnly]="true">
                        </app-schedule-menu>
                    </p>
                </div>
                <div class="col-12 col-md-10">
                    <div class="row">
                        <div class="col-12 col-md-3">
                            <p>
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Total HHS</mat-label>
                                    <input formControlName="totalHHS" matInput placeholder="Total HHS" type="number">
                                </mat-form-field>
                            </p>
                        </div>
                        <div class="col-12 col-md-3">
                            <p>
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Water Supply Covered</mat-label>
                                    <input formControlName="waterSupplyCovered" matInput
                                        placeholder="Water Supply Covered" type="number">
                                </mat-form-field>
                            </p>
                        </div>
                        <div class="col-12 col-md-3">
                            <p>
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Not Covered</mat-label>
                                    <input formControlName="notConvered" matInput placeholder="Not Covered"
                                        type="number">
                                </mat-form-field>
                            </p>
                        </div>
                        <div class="col-12 col-md-3">
                            <p>
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>JJM Beneficiary</mat-label>
                                    <input formControlName="jjmBeneficiary" matInput placeholder="JJM Beneficiary"
                                        type="number">
                                </mat-form-field>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-12 col-md-1 text-center">
                    <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon"
                        style="margin-top: 10px" (click)="removeBaselineSurwey(i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div> -->
            </div>
        </ng-container>
    </div>
    <hr class="col-12 col-md-10 offset-md-2">
    <div class="row">
        <div class="col-10 offset-md-2">
            <div class="row">
                <div class="col-12 col-md-3">
                    <p class="h6 text-center pt-3">
                        Total HHS: {{totalTotalHHS}}
                    </p>
                </div>
                <div class="col-12 col-md-3">
                    <p class="h6 text-center pt-3">
                        Total Water Supply Covered: {{totalWaterSupplyCovered}}
                    </p>
                </div>
                <div class="col-12 col-md-3">
                    <p class="h6 text-center pt-3">
                        Total Not Covered: {{totalNotConvered}}
                    </p>
                </div>
                <div class="col-12 col-md-3">
                    <p class="h6 text-center pt-3">
                        Total JJM Beneficiary: {{totalJjmBeneficiary}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="">
        <div class="col-md-3 offset-md-9 col-6 offset-6 text-end mt-2">
            <button mat-stroked-button color="primary" class="py-1 w-100" type="button" (click)="addBaselineSurwey()">
                <i class="bi bi-plus" style="font-size: 1.5em;"></i> Add Row
            </button>
        </div>
    </div> -->
    <hr>
    <div class="row mt-3">
        <div class="col-6">
            <p class="h5 text-start p-0">
                Existing WSS
                <app-schedule-menu [section]="'Existing WSS'" [iconOnly]="false">
                </app-schedule-menu>
            </p>
        </div>
    </div>
    <div formArrayName="existingWssName"
        *ngFor="let item of this.applicationForm.get('existingWssName')['controls']; let i = index;">
        <ng-container [formGroupName]="i">
            <div class="row my-3">
                <div class="col-12 col-md-2">
                    <p class="h6 text-center pt-3">
                        {{i + 1}}
                        <app-schedule-menu [section]="'Existing WSS ' + (i + 1)" [iconOnly]="true">
                        </app-schedule-menu>
                    </p>
                </div>
                <div class="col-12 col-md-3">
                    <p>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Name of WSS</mat-label>
                            <input formControlName="nameofWss" matInput placeholder="Name of WSS">
                        </mat-form-field>
                    </p>
                </div>
                <div class="col-12 col-md-3">
                    <p>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Ward</mat-label>
                            <input formControlName="ward" matInput placeholder="Ward">
                        </mat-form-field>
                    </p>
                </div>
                <div class="col-12 col-md-3">
                    <p>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Total HHs</mat-label>
                            <input formControlName="totalHHS" matInput placeholder="Total HHs">
                        </mat-form-field>
                    </p>
                </div>
                <div class="col-12 col-md-1 text-center">
                    <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon"
                        style="margin-top: 10px" (click)="removeExistingWssName(i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
                <div class="col-12 col-md-3 offset-md-2">
                    <p>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Tank Capacity</mat-label>
                            <input formControlName="tankCapacity" matInput placeholder="Tank Capacity">
                        </mat-form-field>
                    </p>
                </div>
                <div class="col-12 col-md-3">
                    <p>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Type of Source</mat-label>
                            <input formControlName="typeOfSource" matInput placeholder="Type of Source">
                        </mat-form-field>
                    </p>
                </div>
                <div class="col-12 col-md-3">
                    <p>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Any issues</mat-label>
                            <input formControlName="anyIssues" matInput placeholder="Any issues">
                        </mat-form-field>
                    </p>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="">
        <div class="col-md-3 offset-md-9 col-6 offset-6 text-end mt-2">
            <button mat-stroked-button color="primary" class="py-1 w-100" type="button" (click)="addExistingWssName()">
                <i class="bi bi-plus" style="font-size: 1.5em;"></i> Add Row
            </button>
        </div>
    </div>
    <hr>
    <div class="row mt-3">
        <div class="col-6">
            <p class="h5 text-start p-0">
                Water Quality Issue
                <app-schedule-menu [section]="'Water Quality Issues'" [iconOnly]="false">
                </app-schedule-menu>
            </p>
        </div>
    </div>
    <div formArrayName="waterQuality"
        *ngFor="let item of this.applicationForm.get('waterQuality')['controls']; let i = index;">
        <ng-container [formGroupName]="i">
            <div class="row my-3">
                <div class="col-12 col-md-2">
                    <p class="h6 text-center pt-3">
                        {{i + 1}}
                        <app-schedule-menu [section]="'Water Quality issue ' + (i + 1)" [iconOnly]="true">
                        </app-schedule-menu>
                    </p>
                </div>
                <div class="col-12 col-md-3">
                    <p>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Name of Wss</mat-label>
                            <input formControlName="nameofWss" matInput placeholder="Name of Wss">
                        </mat-form-field>
                    </p>
                </div>
                <div class="col-12 col-md-3">
                    <p>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Ward</mat-label>
                            <input formControlName="ward" matInput placeholder="Ward">
                        </mat-form-field>
                    </p>
                </div>
                <div class="col-12 col-md-3">
                    <p>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Total HHS</mat-label>
                            <input formControlName="totalHHS" matInput placeholder="Total HHS">
                        </mat-form-field>
                    </p>
                </div>
                <div class="col-12 col-md-1 text-center">
                    <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon"
                        style="margin-top: 10px" (click)="removeWaterQi(i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
                <div class="col-12 col-md-3 offset-md-2">
                    <p>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Type of Source</mat-label>
                            <input formControlName="typeOfSource" matInput placeholder="Type of Source">
                        </mat-form-field>
                    </p>
                </div>
                <div class="col-12 col-md-3">
                    <p>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Issue</mat-label>
                            <input formControlName="anyIssues" matInput placeholder="Issues">
                        </mat-form-field>
                    </p>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="">
        <div class="col-md-3 offset-md-9 col-6 offset-6 text-end mt-2">
            <button mat-stroked-button color="primary" class="py-1 w-100" type="button" (click)="addWaterQI()">
                <i class="bi bi-plus" style="font-size: 1.5em;"></i> Add Row
            </button>
        </div>
    </div>
    <hr>
    <div class="row mt-3">
        <div class="col-6">
            <p class="h5 text-start p-0">
                Identification New Source
                <app-schedule-menu [section]="'Identification New Source'" [iconOnly]="false">
                </app-schedule-menu>
            </p>
        </div>
    </div>
    <div formArrayName="identificationNewSource"
        *ngFor="let item of this.applicationForm.get('identificationNewSource')['controls']; let i = index;">
        <ng-container [formGroupName]="i">
            <div class="row my-3">
                <div class="col-12 col-md-2">
                    <p class="h6 text-center pt-3">
                        {{i + 1}}
                        <app-schedule-menu [section]="'Identification New Source ' + (i + 1)" [iconOnly]="true">
                        </app-schedule-menu>
                    </p>
                </div>
                <div class="col-12 col-md-5">
                    <p>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Area</mat-label>
                            <input formControlName="area" matInput placeholder="Area">
                        </mat-form-field>
                    </p>
                </div>
                <div class="col-12 col-md-4">
                    <p>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Ward</mat-label>
                            <input formControlName="ward" matInput placeholder="Ward">
                        </mat-form-field>
                    </p>
                </div>
                <div class="col-12 col-md-1 text-center">
                    <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon"
                        style="margin-top: 10px" (click)="removeidentificationNewSource(i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="">
        <div class="col-md-3 offset-md-9 col-6 offset-6 text-end mt-2">
            <button mat-stroked-button color="primary" class="py-1 w-100" type="button"
                (click)="addidentificationNewSource()">
                <i class="bi bi-plus" style="font-size: 1.5em;"></i> Add Row
            </button>
        </div>
    </div>
    <hr>
    <div class="row mt-3">
        <div class="col-6">
            <p class="h5 text-start p-0">
                Uncovered Area
                <app-schedule-menu [section]="'Uncovered Area'" [iconOnly]="false">
                </app-schedule-menu>
            </p>
        </div>
    </div>
    <div formArrayName="uncoveredArea"
        *ngFor="let item of this.applicationForm.get('uncoveredArea')['controls']; let i = index;">
        <ng-container [formGroupName]="i">
            <div class="row my-3">
                <div class="col-12 col-md-2">
                    <p class="h6 text-center pt-3">
                        {{i + 1}}
                        <app-schedule-menu [section]="'Uncovered Area ' + (i + 1)" [iconOnly]="true">
                        </app-schedule-menu>
                    </p>
                </div>
                <div class="col-12 col-md-3">
                    <p>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Area</mat-label>
                            <input formControlName="area" matInput placeholder="Area">
                        </mat-form-field>
                    </p>
                </div>
                <div class="col-12 col-md-2">
                    <p>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Ward</mat-label>
                            <input formControlName="ward" matInput placeholder="Ward">
                        </mat-form-field>
                    </p>
                </div>
                <div class="col-12 col-md-2">
                    <p>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Total HHS</mat-label>
                            <input formControlName="totalHHS" matInput placeholder="Total HHS">
                        </mat-form-field>
                    </p>
                </div>
                <div class="col-12 col-md-2">
                    <p>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Technology Option</mat-label>
                            <input formControlName="technologyOption" matInput placeholder="Technology Option">
                        </mat-form-field>
                    </p>
                </div>
                <div class="col-12 col-md-1 text-center">
                    <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon"
                        style="margin-top: 10px" (click)="removeUncovereArea(i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="">
        <div class="col-md-3 offset-md-9 col-6 offset-6 text-end mt-2">
            <button mat-stroked-button color="primary" class="py-1 w-100" type="button" (click)="addUncovereArea()">
                <i class="bi bi-plus" style="font-size: 1.5em;"></i> Add Row
            </button>
        </div>
    </div>
    <hr>
    <div class="row mt-3">
        <div class="col-6">
            <p class="h5 text-start p-0">
                Application Form
                <app-schedule-menu [section]="'Application Form'" [iconOnly]="false">
                </app-schedule-menu>
            </p>
        </div>
    </div>
    <div formArrayName="applicationFormsWards"
        *ngFor="let item of this.applicationForm.get('applicationFormsWards')['controls']; let i = index;">
        <ng-container [formGroupName]="i">
            <div class="row my-3">
                <div class="col-12 col-md-2">
                    <p class="h6 text-center pt-3">
                        {{'Ward ' + (i + 1) + ': '}}
                        {{(data.wardCongigData.names.length > 0 &&
                        data.wardCongigData.names.length > i &&
                        data.wardCongigData.names[i] &&
                        data.wardCongigData.names[i].wardNumber === i + 1 &&
                        data.wardCongigData.names[i].wardName) || ' '}}
                        <app-schedule-menu [section]="'Application Form Ward ' + (i + 1)" [iconOnly]="true">
                        </app-schedule-menu>
                    </p>
                </div>
                <div class="col-12 col-md-5">
                    <p>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Distributed</mat-label>
                            <input formControlName="distributed" matInput placeholder="Distributed">
                        </mat-form-field>
                    </p>
                </div>
                <div class="col-12 col-md-5">
                    <p>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Recieved</mat-label>
                            <input formControlName="recieved" matInput placeholder="Recieved">
                        </mat-form-field>
                    </p>
                </div>
                <!-- <div class="col-12 col-md-1 text-center">
                    <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon"
                        style="margin-top: 10px" (click)="removeApplicationFormWard(i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div> -->
            </div>
        </ng-container>
    </div>
    <hr class="col-12 col-md-10 offset-md-2">
    <div class="row">
        <div class="col-10 offset-md-2">
            <div class="row">
                <div class="col-12 col-md-6">
                    <p class="h6 text-center pt-3">
                        Total Distributed: {{totalDistributed}}
                    </p>
                </div>
                <div class="col-12 col-md-6">
                    <p class="h6 text-center pt-3">
                        Total Recieved: {{totalRecieved}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="">
        <div class="col-md-3 offset-md-9 col-6 offset-6 text-end mt-2">
            <button mat-stroked-button color="primary" class="py-1 w-100" type="button"
                (click)="addApplicationFormWard()">
                <i class="bi bi-plus" style="font-size: 1.5em;"></i> Add Row
            </button>
        </div>
    </div> -->
    <hr>
    <div formArrayName="pra" *ngFor="let item of this.applicationForm.get('pra')['controls']; let i = index;">
        <ng-container [formGroupName]="i">
            <div class="row my-3">
                <div class="col-12 col-md-2">
                    <p class="h6 text-center pt-3 ">
                        PRA {{i + 1}}
                        <app-schedule-menu [section]="'PRA ' + ( i + 1 )" [iconOnly]="false">
                        </app-schedule-menu>
                    </p>
                </div>
                <div class="col-12 col-md-5">
                    <p>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Conducted Date</mat-label>
                            <input matInput [matDatepicker]="dp" formControlName="praDate">
                            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                            <mat-datepicker #dp disabled="false"></mat-datepicker>
                        </mat-form-field>
                    </p>
                </div>
                <div class="col-12 col-md-5">
                    <p>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Place</mat-label>
                            <input formControlName="praPlace" matInput placeholder="Place">
                        </mat-form-field>
                    </p>
                </div>
                <div class="col-12 col-md-5 offset-md-2">
                    <div class="mt-1" style="position: relative;">
                        <div class="hasfile d-flex justify-content-between border px-2 rounded" style="cursor: pointer;"
                            (click)="viewFile(getFileFromIndex(0, i).file)"
                            *ngIf="this.applicationForm.value.pra[i].reportIndex?.length > 0">
                            <p class="text-truncate pt-3"><strong>Report:
                                </strong>{{getFileFromIndex(0, i)?.file.name}}
                            </p>
                            <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon"
                                style="margin-top: 4.5px"
                                (click)="fileRemoved(0,getFileFromIndex(0, i)?.file?.fid, i); this.applicationForm.value.reportIndex = ''">
                                <mat-icon>close</mat-icon>
                            </button>
                        </div>
                        <p-fileUpload
                            *ngIf="this.applicationForm.value.pra[i].reportIndex?.length == 0 || !this.applicationForm.value.pra[i].reportIndex"
                            mode="basic" [customUpload]="true" (onSelect)="fileSelected($event, 0, i)" [style]="{backgroundColor: 'unset',
                            color: 'grey', border: '1px solid #ced4da', fontWeight: 'unset', fontSize: '0.9em',
                            borderRadius: '.25rem', width: '100%', paddingTop: '14px', paddingBottom: '14px'}"
                            [chooseLabel]="'Report'"></p-fileUpload>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="mt-1" style="position: relative;">
                        <div class="hasfile d-flex justify-content-between border px-2 rounded" style="cursor: pointer;"
                            (click)="viewFile(getFileFromIndex(1, i).file)"
                            *ngIf="this.applicationForm.value.pra[i].photoIndex?.length > 0">
                            <p class="text-truncate pt-3"><strong>Photo:
                                </strong>{{getFileFromIndex(1, i).file.name}}
                            </p>
                            <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon"
                                style="margin-top: 4.5px" (click)="fileRemoved(1,getFileFromIndex(1, i)?.file?.fid, i)">
                                <mat-icon>close</mat-icon>
                            </button>
                        </div>
                        <p-fileUpload
                            *ngIf="this.applicationForm.value.pra[i].photoIndex?.length == 0 || !this.applicationForm.value.pra[i].photoIndex"
                            mode="basic" [customUpload]="true" (onSelect)="fileSelected($event, 1, i)" [style]="{backgroundColor: 'unset',
                            color: 'grey', border: '1px solid #ced4da', fontWeight: 'unset', fontSize: '0.9em',
                            borderRadius: '.25rem', width: '100%', paddingTop: '14px', paddingBottom: '14px'}"
                            [chooseLabel]="'Photo'"></p-fileUpload>
                    </div>
                </div>
                <div class="col-12 col-md-1 text-center">
                    <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon"
                        style="margin-top: 10px" (click)="removePRA(i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="">
        <div class="col-md-3 offset-md-9 col-6 offset-6 text-end mt-2">
            <button mat-stroked-button color="primary" class="py-1 w-100" type="button" (click)="addPRA()">
                <i class="bi bi-plus" style="font-size: 1.5em;"></i> Add Row
            </button>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-12" *ngIf="submitting">
            <p class="small text-center">
                Uploading files(If any) and submiting Application...
            </p>
            <mat-progress-bar mode="indeterminate" clas="w-100"></mat-progress-bar>
        </div>
        <div class="col-12 text-center mt-3">
            <button type="submit" mat-raised-button color="primary" class="px-5 py-1" [disabled]="submitting">Save
                Application</button>
        </div>
    </div>
    <div class="col-6 mt-4 mx-auto" *ngIf="submitted">
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                <path
                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
            </symbol>
        </svg>
        <div class="alert alert-success d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                <use xlink:href="#check-circle-fill" />
            </svg>
            <div>
                Application Submitted Successfully
            </div>
        </div>
    </div>
</form>