<div class="container home-container border rounded">
    <div class="row">
        <div class="col-12">
            <img src="../../assets/jjm.jpg" alt="" class="home-logo">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <p class="h5">Select District</p>
            <mat-form-field appearance="outline">
                <mat-label>District</mat-label>
                <mat-select>
                  <mat-option value="one">First option</mat-option>
                  <mat-option value="two">Second option</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
    </div>
</div>