<div class="col-12 col-md-6 offset-md-3">
    <p-breadcrumb
        [model]="[{label: 'Admin'}, {label: 'District'}]">
    </p-breadcrumb>
</div>
<div class="col-12 mt-3">
    <p class="h5">Select District</p>
    <mat-form-field appearance="outline" class="col-10 col-md-4">
        <mat-label>District</mat-label>
        <mat-select [(ngModel)]="district" (selectionChange)="onSelect()">
            <mat-option [value]="dist" *ngFor="let dist of DistrictsList">{{dist}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>