<div *ngIf="printMode" class="col-12 text-start pagebreak mt-4">
    <div *ngIf="printMode" class="col-12 text-start pagebreak mt-4">
        <strong class="h2 text-center mb-0 d-block text-decoration-underline">{{data.getLongName(currentName)}}</strong>
        <div *ngFor="let row of applicationForm?.value?.rows" class="mt-1">
            <div class="row py-2 bg-shade">
                <div class="col-sm-3 fs-5">
                    <p class=""><strong>Total Proposed FHTC: </strong></p>
                </div>
                <div class="col-sm-9 fs-5">
                    <div class="row py-2">
                        <div class="col-12">
                            {{row.totalProposedFHTC}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 fs-5 mt-3">
                    <p class=""><strong>1<sup>st</sup> Phase: </strong></p>
                </div>
                <div class="col-sm-10 fs-5">
                    <div class="row py-2">
                        <div class="col-4">
                            <p class="h5 d-inline-block">Approvd AS: </p> {{row.firstApprovedAs}}
                        </div>
                        <div class="col-4">
                            <p class="h5 d-inline-block">Approved TS: </p> {{row.firstApprovedTs}}
                        </div>
                        <div class="col-4">
                            <p class="h5 d-inline-block">Expenditure: </p> {{row.firstExpenditure}}
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-4">
                            <p class="h5 d-inline-block">Approved FHTC: </p> {{row.firstApprovedFhtc}}
                        </div>
                        <div class="col-4">
                            <p class="h5 d-inline-block">Completed FHTC: </p> {{row.firstCompletedFhtc}}
                        </div>
                        <div class="col-4">
                            <p class="h5 d-inline-block">Remarks: </p> {{row.firstRemarks}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row bg-shade">
                <div class="col-2 fs-5 mt-3">
                    <p class=""><strong>2<sup>nd</sup> Phase: </strong></p>
                </div>
                <div class="col-sm-10 fs-5">
                    <div class="row py-2">
                        <div class="col-4">
                            <p class="h5 d-inline-block">Approvd AS: </p> {{row.secondApprovedAs}}
                        </div>
                        <div class="col-4">
                            <p class="h5 d-inline-block">Approved TS: </p> {{row.secondApprovedTs}}
                        </div>
                        <div class="col-4">
                            <p class="h5 d-inline-block">Expenditure: </p> {{row.secondExpenditure}}
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-4">
                            <p class="h5 d-inline-block">Approved FHTC: </p> {{row.secondApprovedFhtc}}
                        </div>
                        <div class="col-4">
                            <p class="h5 d-inline-block">Completed FHTC: </p> {{row.secondCompletedFhtc}}
                        </div>
                        <div class="col-4">
                            <p class="h5 d-inline-block">Remarks: </p> {{row.secondRemarks}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2 fs-5 mt-3">
                    <p class=""><strong>3<sup>rd</sup> Phase: </strong></p>
                </div>
                <div class="col-sm-10 fs-5">
                    <div class="row py-2">
                        <div class="col-6">
                            <p class="h5 d-inline-block">Name of Scheme: </p> {{row.thirdNameOfScheme}}
                        </div>
                        <div class="col-6">
                            <p class="h5 d-inline-block">Nature of Scheme: </p> {{row.thirdNature}}
                        </div>
                    </div>
                    <div class="row py-2" *ngIf="row.thirdNature === 'Multi GP Scheme'">
                        <div class="col-4">
                            <p class="h5 d-inline-block">Name of Other Gps: </p> {{row.thirdNameOthergp}}
                        </div>
                        <div class="col-4">
                            <p class="h5 d-inline-block">Total FHTC: </p> {{row.thirdTotalFHTC}}
                        </div>
                        <div class="col-4">
                            <p class="h5 d-inline-block">Total Project Cost: </p> {{row.thirdTotalProjectCost}}
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-5">
                            <p class="h5 d-inline-block">Estimate Amount Concerned GP: </p> {{row.thirdEstimateAmount}}
                        </div>
                        <div class="col-4">
                            <p class="h5 d-inline-block">FHTC As Per DPR: </p> {{row.thirdFHTCDPR}}
                        </div>
                        <div class="col-3">
                            <p class="h5 d-inline-block">DPR Prepared: </p> {{row.thirdDprPrepared}}
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-3">
                            <p class="h5 d-inline-block">Status of AS: </p> {{row.thirdStatusAS}}
                        </div>
                        <div class="col-3">
                            <p class="h5 d-inline-block">AS Amount: </p> {{row.thirdAsAmount}}
                        </div>
                        <div class="col-3">
                            <p class="h5 d-inline-block">Status of TS: </p> {{row.thirdStatusTS}}
                        </div>
                        <div class="col-3">
                            <p class="h5 d-inline-block">TS Amount: </p> {{row.thirdTsAmount}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!printMode">
    <div class="col-12 col-md-12 mx-auto" *ngIf="formdata.name">
        <app-breadcrump [admin]="isAdmin" [name]="formdata.name"></app-breadcrump>
    </div>
    <mat-card class="bg-blue-custom">
        <p class="h2">Details of JJM WSS
        </p>
        <!-- <p>
            Orientation to GP board members and board meeting for taking GP resolutions, Approval of GP Centric Activity
            Plan.
        </p> -->
    </mat-card>
    <!-- <div class="alert alert-danger mt-3 fw-bold" role="alert" *ngIf="isFormDisabled">
        Editing existing data has been disabled by admin. Contact them if you need editing permission
    </div>
    <div class="alert alert-warning mt-3 fw-bold" role="alert" *ngIf="isDraftMode">
        Application was not submitted. Currently in edit mode. Saved as Draft
    </div> -->
    <form [formGroup]="applicationForm" class="pt-3" id="applicationForm">
        <div formArrayName="rows" *ngFor="let item of this.applicationForm.get('rows')['controls']; let i = index;">
            <ng-container [formGroupName]="i">
                <div class="row mt-3">
                    <div class="col-md-2">
                        <p class="h5 text-start pt-3">
                            Total Proposed FHTC:
                            <app-schedule-menu [section]="'Total Proposed FHTC'" [iconOnly]="false">
                            </app-schedule-menu>
                        </p>
                    </div>
                    <div class="col-md-10">
                        <p>
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Total Proposed FHTC</mat-label>
                                <input formControlName="totalProposedFHTC" matInput placeholder="Total Proposed FHTC"
                                    type="text">
                            </mat-form-field>
                        </p>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-2">
                        <p class="h5 text-start pt-3">
                            1<sup>st</sup> Phase:
                            <app-schedule-menu [section]="'1st Phase'" [iconOnly]="false">
                            </app-schedule-menu>
                        </p>
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-4">
                                <p>
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Approved AS</mat-label>
                                        <input formControlName="firstApprovedAs" matInput placeholder="Approved AS"
                                            type="text">
                                    </mat-form-field>
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p>
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Approved TS</mat-label>
                                        <input formControlName="firstApprovedTs" matInput placeholder="Approved TS"
                                            type="text">
                                    </mat-form-field>
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p>
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Expenditure</mat-label>
                                        <input formControlName="firstExpenditure" matInput placeholder="Expenditure"
                                            type="text">
                                    </mat-form-field>
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p>
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Approved FHTC</mat-label>
                                        <input formControlName="firstApprovedFhtc" matInput placeholder="Approved FHT"
                                            type="text">
                                    </mat-form-field>
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p>
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Completed FHTC</mat-label>
                                        <input formControlName="firstCompletedFhtc" matInput
                                            placeholder="Completed FHTC" type="text">
                                    </mat-form-field>
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p>
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Remarks</mat-label>
                                        <input formControlName="firstRemarks" matInput placeholder="Remarks"
                                            type="text">
                                    </mat-form-field>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-2">
                        <p class="h5 text-start pt-3">
                            2<sup>nd</sup> Phase:
                            <app-schedule-menu [section]="'2nd Phase'" [iconOnly]="false">
                            </app-schedule-menu>
                        </p>
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-4">
                                <p>
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Approved AS</mat-label>
                                        <input formControlName="secondApprovedAs" matInput placeholder="Approved AS"
                                            type="text">
                                    </mat-form-field>
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p>
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Approved TS</mat-label>
                                        <input formControlName="secondApprovedTs" matInput placeholder="Approved TS"
                                            type="text">
                                    </mat-form-field>
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p>
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Expenditure</mat-label>
                                        <input formControlName="secondExpenditure" matInput placeholder="Expenditure"
                                            type="text">
                                    </mat-form-field>
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p>
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Approved FHTC</mat-label>
                                        <input formControlName="secondApprovedFhtc" matInput placeholder="Approved FHT"
                                            type="text">
                                    </mat-form-field>
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p>
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Completed FHTC</mat-label>
                                        <input formControlName="secondCompletedFhtc" matInput
                                            placeholder="Completed FHTC" type="text">
                                    </mat-form-field>
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p>
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Remarks</mat-label>
                                        <input formControlName="secondRemarks" matInput placeholder="Remarks"
                                            type="text">
                                    </mat-form-field>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-2">
                        <p class="h5 text-start pt-3">
                            3<sup>rd</sup> Phase:
                            <app-schedule-menu [section]="'3rd Phase'" [iconOnly]="false">
                            </app-schedule-menu>
                        </p>
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-6">
                                <p>
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Name of Scheme</mat-label>
                                        <input formControlName="thirdNameOfScheme" matInput placeholder="Name of Scheme"
                                            type="text">
                                    </mat-form-field>
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Nature of Scheme</mat-label>
                                        <mat-select formControlName="thirdNature">
                                            <mat-option>None</mat-option>
                                            <mat-option value="Single GP Scheme">Single GP Scheme</mat-option>
                                            <mat-option value="Multi GP Scheme">Multi GP Scheme</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </p>
                            </div>
                            <div class="col-12"
                                *ngIf="applicationForm.get('rows.0.thirdNature').value === 'Multi GP Scheme'">
                                <div class="row">
                                    <div class="col-md-4">
                                        <p>
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>Name of Other GPs</mat-label>
                                                <input formControlName="thirdNameOthergp" matInput
                                                    placeholder="Name of Other GPs" type="text">
                                            </mat-form-field>
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <p>
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>Total FHTC</mat-label>
                                                <input formControlName="thirdTotalFHTC" matInput
                                                    placeholder="Total FHTC" type="text">
                                            </mat-form-field>
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <p>
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>Total Project Cost</mat-label>
                                                <input formControlName="thirdTotalProjectCost" matInput
                                                    placeholder="Total Project Cost" type="text">
                                            </mat-form-field>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <p>
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Estimate Amount Concerned GP</mat-label>
                                        <input formControlName="thirdEstimateAmount" matInput
                                            placeholder="Estimate Amount Concerned GP" type="text">
                                    </mat-form-field>
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p>
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>FHTC As Per DPR</mat-label>
                                        <input formControlName="thirdFHTCDPR" matInput placeholder="FHTC As Per DPR"
                                            type="text">
                                    </mat-form-field>
                                </p>
                            </div>
                            <div class="col-md-4">
                                <p>
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>DPR Prepared</mat-label>
                                        <mat-select formControlName="thirdDprPrepared">
                                            <mat-option>None</mat-option>
                                            <mat-option value="Yes">Yes</mat-option>
                                            <mat-option value="No">No</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </p>
                            </div>
                            <div class="col-md-3">
                                <p>
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Status of AS</mat-label>
                                        <mat-select formControlName="thirdStatusAS">
                                            <mat-option>None</mat-option>
                                            <mat-option value="Yes">Yes</mat-option>
                                            <mat-option value="No">No</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </p>
                            </div>
                            <div class="col-md-3">
                                <p>
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>AS Amount</mat-label>
                                        <input formControlName="thirdAsAmount" matInput placeholder="AS Amount"
                                            type="text">
                                    </mat-form-field>
                                </p>
                            </div>
                            <div class="col-md-3">
                                <p>
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Status of TS</mat-label>
                                        <mat-select formControlName="thirdStatusTS">
                                            <mat-option>None</mat-option>
                                            <mat-option value="Yes">Yes</mat-option>
                                            <mat-option value="No">No</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </p>
                            </div>
                            <div class="col-md-3">
                                <p>
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>TS Amount</mat-label>
                                        <input formControlName="thirdTsAmount" matInput placeholder="AS Amount"
                                            type="text">
                                    </mat-form-field>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
        <!-- <div class="row">
             <div class="col-md-3 offset-md-9 col-12 text-end mt-2">
                <button mat-stroked-button color="primary" class="py-1 w-100" type="button" (click)="addRow()">
                    <i class="bi bi-plus" style="font-size: 1.5em;"></i> Add Row
                </button>
            </div>
        </div> -->
        <!-- <div class="row my-3">
            <div class="col-12 col-md-11 offset-md-1">
                <app-file-uploader [control]="this.applicationForm" #uploader [labelName]="'Report'"
                    [disabled]="isFormDisabled && applicationForm.value?.report?.length" [keyName]="'report'"
                    (onfileChanges)="onFileChanges()">
                </app-file-uploader>
            </div>
        </div> -->
        <div class="row mt-3">
            <!-- <div class="col-md-6 col-12">
                <p>
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Completed Date</mat-label>
                        <input matInput [matDatepicker]="dp1" formControlName="completedDate"
                            [disabled]="isFormDisabled && applicationForm.value?.completedDate?.length">
                        <mat-datepicker-toggle matSuffix [for]="dp1"
                            [disabled]="isFormDisabled && applicationForm.value?.completedDate?.length">
                        </mat-datepicker-toggle>
                        <mat-datepicker #dp1 disabled="false"
                            [disabled]="isFormDisabled && applicationForm.value?.completedDate?.length">
                        </mat-datepicker>
                    </mat-form-field>
                </p>
            </div>
            <div class="col-12 col-md-6">
                <app-file-uploader [control]="applicationForm" #uploader [labelName]="'Attatch Minutes'"
                    [disabled]="isFormDisabled && applicationForm.value?.minutes?.length" [keyName]="'minutes'"
                    (onfileChanges)="onFileChanges()">
                </app-file-uploader>
            </div> -->
        </div>
        <div class="row mt-2">
            <div class="col-12" *ngIf="submitting">
                <p class="small text-center">
                    Submiting Application. Please Wait...
                </p>
                <mat-progress-bar mode="indeterminate" clas="w-100"></mat-progress-bar>
            </div>
            <div class="col-12 text-center mt-3">
                <button [disabled]="submitting" type="submit" mat-raised-button color="primary" class="px-5 py-1"
                    (click)="onSubmit()">
                    Submit
                    Application
                    <mat-icon>upload_file</mat-icon>
                </button>
            </div>
        </div>
        <div class="col-6 mt-4 mx-auto" *ngIf="submitted">
            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                    <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                </symbol>
            </svg>
            <div class="alert alert-success d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                    <use xlink:href="#check-circle-fill" />
                </svg>
                <div>
                    Application Submitted Successfully
                </div>
            </div>
        </div>
    </form>
</div>

<p-confirmDialog header="Submit Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>